SqlScript/branch.underwriting/WEB.NewBusiness/Service References/ServicesApi.PolicyIllustrationService/ServicesApi43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://devservicesapiunderwriting.statetrustlife.com/ServicesApi.UnderWriting.PolicyIllustration.PolicyIllustrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" />
  <xs:element name="SetPolicyInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerPlanNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domesticregId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stateProvId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="officeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPolicyInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" minOccurs="0" name="SetPolicyInformationResult" nillable="true" type="q1:ReturnMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGroupPolicyInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerPlanNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domesticregId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stateProvId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="officeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isChangingInUW" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGroupPolicyInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" minOccurs="0" name="SetGroupPolicyInformationResult" nillable="true" type="q2:ReturnMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>