SqlScript/branch.underwriting/WebServices/Service References/GlobalService/PolicyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CobrosDomiciados" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CobrosDomiciados" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Return">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValReturn" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Return" nillable="true" type="tns:Return" />
</xs:schema>