Cancelaciones/trunk/ATL.SVC.Services/WCF-test/Service References/CancelacionesSvc/Cancelaciones1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10003/Cancelaciones.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:10003/Cancelaciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:element name="Atl_2_Kco">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poliza" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Atl_2_KcoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="Atl_2_KcoResult" type="q2:HttpStatusCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>