SqlScript/branch.underwriting/WEB.NewBusiness/Service References/IllusdataWebServices/QuotesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wsvo.completeonline.net/QuotesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" />
  <xs:import schemaLocation="http://wsvo.completeonline.net/QuotesService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" />
  <xs:element name="getCompareIllustration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="custplans" nillable="true" type="q1:ArrayOfWSCompareCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompareIllustrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="getCompareIllustrationResult" nillable="true" type="q2:WSCompareIllusResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTermModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="customer" nillable="true" type="q3:WSCustomer" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="plan" nillable="true" type="q4:WSCustomerPlan" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="riders" nillable="true" type="q5:ArrayOfWSRider" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="partner" nillable="true" type="q6:WSCustomerPlanPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTermModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="getTermModelResult" nillable="true" type="q7:WSTermResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTermModelIllustration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="customer" nillable="true" type="q8:WSCustomer" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="plan" nillable="true" type="q9:WSCustomerPlan" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="riders" nillable="true" type="q10:ArrayOfWSRider" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="partner" nillable="true" type="q11:WSCustomerPlanPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTermModelIllustrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="getTermModelIllustrationResult" nillable="true" type="q12:WSTermResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFuneralModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="customer" nillable="true" type="q13:WSCustomer" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="plan" nillable="true" type="q14:WSCustomerPlanFuneral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFuneralModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="getFuneralModelResult" nillable="true" type="q15:WSFuneralResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFuneralModelIllustration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="customer" nillable="true" type="q16:WSCustomer" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="plan" nillable="true" type="q17:WSCustomerPlanFuneral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFuneralModelIllustrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="getFuneralModelIllustrationResult" nillable="true" type="q18:WSFuneralResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLifeModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="customer" nillable="true" type="q19:WSCustomer" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="plan" nillable="true" type="q20:WSCustomerPlan" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="riders" nillable="true" type="q21:ArrayOfWSRider" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="partner" nillable="true" type="q22:WSCustomerPlanPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLifeModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="getLifeModelResult" nillable="true" type="q23:WSLifeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLifeModelIllustration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="customer" nillable="true" type="q24:WSCustomer" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="plan" nillable="true" type="q25:WSCustomerPlan" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="riders" nillable="true" type="q26:ArrayOfWSRider" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="partner" nillable="true" type="q27:WSCustomerPlanPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLifeModelIllustrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="getLifeModelIllustrationResult" nillable="true" type="q28:WSLifeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnnuityModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="customer" nillable="true" type="q29:WSCustomer" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="plan" nillable="true" type="q30:WSCustomerPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnnuityModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="getAnnuityModelResult" nillable="true" type="q31:WSAnnuityResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnnuityModelIllustration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="customer" nillable="true" type="q32:WSCustomer" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="plan" nillable="true" type="q33:WSCustomerPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnnuityModelIllustrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" minOccurs="0" name="getAnnuityModelIllustrationResult" nillable="true" type="q34:WSAnnuityResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getYesNoList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getYesNoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getYesNoListResult" nillable="true" type="q35:ArrayOfWSYesNo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPlanTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPlanTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getPlanTypeListResult" nillable="true" type="q36:ArrayOfWSPlantype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCalculateTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCalculateTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getCalculateTypeListResult" nillable="true" type="q37:ArrayOfWSCalculatetype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContributionTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getContributionTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getContributionTypeListResult" nillable="true" type="q38:ArrayOfWSContributionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRiderTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRiderTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getRiderTypeListResult" nillable="true" type="q39:ArrayOfWSRidertype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPlangroupList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPlangroupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getPlangroupListResult" nillable="true" type="q40:ArrayOfWSPlanGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getActivityRiskTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getActivityRiskTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getActivityRiskTypeListResult" nillable="true" type="q41:ArrayOfWSActivityrisktype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDefermentPeriodList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDefermentPeriodListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getDefermentPeriodListResult" nillable="true" type="q42:ArrayOfWSDefermentPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnnuityPeriodList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnnuityPeriodListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getAnnuityPeriodListResult" nillable="true" type="q43:ArrayOfWSAnnuityPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClasscodeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getClasscodeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getClasscodeListResult" nillable="true" type="q44:ArrayOfWSClasscodeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getCompanyListResult" nillable="true" type="q45:ArrayOfWSCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getCountryListResult" nillable="true" type="q46:ArrayOfWSCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFrequencyTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFrequencyTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getFrequencyTypeListResult" nillable="true" type="q47:ArrayOfWSFrequencytype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGenderList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getGenderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getGenderListResult" nillable="true" type="q48:ArrayOfWSGender" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHealthRiskTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getHealthRiskTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getHealthRiskTypeListResult" nillable="true" type="q49:ArrayOfWSHealthrisktype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvestmentprofileList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvestmentprofileListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getInvestmentprofileListResult" nillable="true" type="q50:ArrayOfWSInvestmentprofile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaritalstatusList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaritalstatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getMaritalstatusListResult" nillable="true" type="q51:ArrayOfWSMaritalStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" minOccurs="0" name="getProductListResult" nillable="true" type="q52:ArrayOfWSProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>