SqlScript/branch.underwriting/WEB.NewBusiness/Service References/IllusdataWebServices/QuotesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuotesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wsvo.completeonline.net/QuotesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wsvo.completeonline.net/QuotesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wsvo.completeonline.net/QuotesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.wsdata" />
      <xsd:import schemaLocation="http://wsvo.completeonline.net/QuotesService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WSVirtualOffice.Models.codes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuotesService_getCompareIllustration_InputMessage">
    <wsdl:part name="parameters" element="tns:getCompareIllustration" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getCompareIllustration_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCompareIllustrationResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getTermModel_InputMessage">
    <wsdl:part name="parameters" element="tns:getTermModel" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getTermModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTermModelResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getTermModelIllustration_InputMessage">
    <wsdl:part name="parameters" element="tns:getTermModelIllustration" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getTermModelIllustration_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTermModelIllustrationResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getFuneralModel_InputMessage">
    <wsdl:part name="parameters" element="tns:getFuneralModel" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getFuneralModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFuneralModelResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getFuneralModelIllustration_InputMessage">
    <wsdl:part name="parameters" element="tns:getFuneralModelIllustration" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getFuneralModelIllustration_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFuneralModelIllustrationResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getLifeModel_InputMessage">
    <wsdl:part name="parameters" element="tns:getLifeModel" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getLifeModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLifeModelResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getLifeModelIllustration_InputMessage">
    <wsdl:part name="parameters" element="tns:getLifeModelIllustration" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getLifeModelIllustration_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLifeModelIllustrationResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getAnnuityModel_InputMessage">
    <wsdl:part name="parameters" element="tns:getAnnuityModel" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getAnnuityModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAnnuityModelResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getAnnuityModelIllustration_InputMessage">
    <wsdl:part name="parameters" element="tns:getAnnuityModelIllustration" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getAnnuityModelIllustration_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAnnuityModelIllustrationResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getYesNoList_InputMessage">
    <wsdl:part name="parameters" element="tns:getYesNoList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getYesNoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getYesNoListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getPlanTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:getPlanTypeList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getPlanTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPlanTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getCalculateTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:getCalculateTypeList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getCalculateTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCalculateTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getContributionTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:getContributionTypeList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getContributionTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getContributionTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getRiderTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:getRiderTypeList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getRiderTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRiderTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getPlangroupList_InputMessage">
    <wsdl:part name="parameters" element="tns:getPlangroupList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getPlangroupList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPlangroupListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getActivityRiskTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:getActivityRiskTypeList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getActivityRiskTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getActivityRiskTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getDefermentPeriodList_InputMessage">
    <wsdl:part name="parameters" element="tns:getDefermentPeriodList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getDefermentPeriodList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDefermentPeriodListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getAnnuityPeriodList_InputMessage">
    <wsdl:part name="parameters" element="tns:getAnnuityPeriodList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getAnnuityPeriodList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAnnuityPeriodListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getClasscodeList_InputMessage">
    <wsdl:part name="parameters" element="tns:getClasscodeList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getClasscodeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getClasscodeListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getCompanyList_InputMessage">
    <wsdl:part name="parameters" element="tns:getCompanyList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getCompanyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCompanyListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getCountryList_InputMessage">
    <wsdl:part name="parameters" element="tns:getCountryList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getCountryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCountryListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getFrequencyTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:getFrequencyTypeList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getFrequencyTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFrequencyTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getGenderList_InputMessage">
    <wsdl:part name="parameters" element="tns:getGenderList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getGenderList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getGenderListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getHealthRiskTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:getHealthRiskTypeList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getHealthRiskTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHealthRiskTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getInvestmentprofileList_InputMessage">
    <wsdl:part name="parameters" element="tns:getInvestmentprofileList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getInvestmentprofileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInvestmentprofileListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getMaritalstatusList_InputMessage">
    <wsdl:part name="parameters" element="tns:getMaritalstatusList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getMaritalstatusList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMaritalstatusListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getProductList_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductList" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_getProductList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductListResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuotesService">
    <wsdl:operation name="getCompareIllustration">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getCompareIllustration" message="tns:IQuotesService_getCompareIllustration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getCompareIllustrationResponse" message="tns:IQuotesService_getCompareIllustration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTermModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getTermModel" message="tns:IQuotesService_getTermModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getTermModelResponse" message="tns:IQuotesService_getTermModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTermModelIllustration">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getTermModelIllustration" message="tns:IQuotesService_getTermModelIllustration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getTermModelIllustrationResponse" message="tns:IQuotesService_getTermModelIllustration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFuneralModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getFuneralModel" message="tns:IQuotesService_getFuneralModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getFuneralModelResponse" message="tns:IQuotesService_getFuneralModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFuneralModelIllustration">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getFuneralModelIllustration" message="tns:IQuotesService_getFuneralModelIllustration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getFuneralModelIllustrationResponse" message="tns:IQuotesService_getFuneralModelIllustration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLifeModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getLifeModel" message="tns:IQuotesService_getLifeModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getLifeModelResponse" message="tns:IQuotesService_getLifeModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLifeModelIllustration">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getLifeModelIllustration" message="tns:IQuotesService_getLifeModelIllustration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getLifeModelIllustrationResponse" message="tns:IQuotesService_getLifeModelIllustration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAnnuityModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getAnnuityModel" message="tns:IQuotesService_getAnnuityModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getAnnuityModelResponse" message="tns:IQuotesService_getAnnuityModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAnnuityModelIllustration">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getAnnuityModelIllustration" message="tns:IQuotesService_getAnnuityModelIllustration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getAnnuityModelIllustrationResponse" message="tns:IQuotesService_getAnnuityModelIllustration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getYesNoList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getYesNoList" message="tns:IQuotesService_getYesNoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getYesNoListResponse" message="tns:IQuotesService_getYesNoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPlanTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getPlanTypeList" message="tns:IQuotesService_getPlanTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getPlanTypeListResponse" message="tns:IQuotesService_getPlanTypeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCalculateTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getCalculateTypeList" message="tns:IQuotesService_getCalculateTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getCalculateTypeListResponse" message="tns:IQuotesService_getCalculateTypeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getContributionTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getContributionTypeList" message="tns:IQuotesService_getContributionTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getContributionTypeListResponse" message="tns:IQuotesService_getContributionTypeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRiderTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getRiderTypeList" message="tns:IQuotesService_getRiderTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getRiderTypeListResponse" message="tns:IQuotesService_getRiderTypeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPlangroupList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getPlangroupList" message="tns:IQuotesService_getPlangroupList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getPlangroupListResponse" message="tns:IQuotesService_getPlangroupList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getActivityRiskTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getActivityRiskTypeList" message="tns:IQuotesService_getActivityRiskTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getActivityRiskTypeListResponse" message="tns:IQuotesService_getActivityRiskTypeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDefermentPeriodList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getDefermentPeriodList" message="tns:IQuotesService_getDefermentPeriodList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getDefermentPeriodListResponse" message="tns:IQuotesService_getDefermentPeriodList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAnnuityPeriodList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getAnnuityPeriodList" message="tns:IQuotesService_getAnnuityPeriodList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getAnnuityPeriodListResponse" message="tns:IQuotesService_getAnnuityPeriodList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getClasscodeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getClasscodeList" message="tns:IQuotesService_getClasscodeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getClasscodeListResponse" message="tns:IQuotesService_getClasscodeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCompanyList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getCompanyList" message="tns:IQuotesService_getCompanyList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getCompanyListResponse" message="tns:IQuotesService_getCompanyList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCountryList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getCountryList" message="tns:IQuotesService_getCountryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getCountryListResponse" message="tns:IQuotesService_getCountryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFrequencyTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getFrequencyTypeList" message="tns:IQuotesService_getFrequencyTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getFrequencyTypeListResponse" message="tns:IQuotesService_getFrequencyTypeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getGenderList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getGenderList" message="tns:IQuotesService_getGenderList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getGenderListResponse" message="tns:IQuotesService_getGenderList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHealthRiskTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getHealthRiskTypeList" message="tns:IQuotesService_getHealthRiskTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getHealthRiskTypeListResponse" message="tns:IQuotesService_getHealthRiskTypeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getInvestmentprofileList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getInvestmentprofileList" message="tns:IQuotesService_getInvestmentprofileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getInvestmentprofileListResponse" message="tns:IQuotesService_getInvestmentprofileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMaritalstatusList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getMaritalstatusList" message="tns:IQuotesService_getMaritalstatusList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getMaritalstatusListResponse" message="tns:IQuotesService_getMaritalstatusList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/getProductList" message="tns:IQuotesService_getProductList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/getProductListResponse" message="tns:IQuotesService_getProductList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuotesService" type="tns:IQuotesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCompareIllustration">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getCompareIllustration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTermModel">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getTermModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTermModelIllustration">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getTermModelIllustration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFuneralModel">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getFuneralModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFuneralModelIllustration">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getFuneralModelIllustration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLifeModel">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getLifeModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLifeModelIllustration">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getLifeModelIllustration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAnnuityModel">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getAnnuityModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAnnuityModelIllustration">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getAnnuityModelIllustration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getYesNoList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getYesNoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlanTypeList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getPlanTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCalculateTypeList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getCalculateTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContributionTypeList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getContributionTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRiderTypeList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getRiderTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlangroupList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getPlangroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActivityRiskTypeList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getActivityRiskTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDefermentPeriodList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getDefermentPeriodList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAnnuityPeriodList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getAnnuityPeriodList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClasscodeList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getClasscodeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanyList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getCompanyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCountryList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getCountryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFrequencyTypeList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getFrequencyTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGenderList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getGenderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHealthRiskTypeList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getHealthRiskTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvestmentprofileList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getInvestmentprofileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaritalstatusList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getMaritalstatusList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductList">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/getProductList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuotesService">
    <wsdl:port name="BasicHttpBinding_IQuotesService" binding="tns:BasicHttpBinding_IQuotesService">
      <soap:address location="http://wsvo.completeonline.net/QuotesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>