SqlScript/branch.underwriting/WEB.UnderWriting/Service References/wsReinsurance/Calculate31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Reinsurance.ENTITY" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Reinsurance.ENTITY" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReinsuranceWarning">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactId" type="xs:int" />
      <xs:element minOccurs="0" name="ExceedsContract" type="xs:boolean" />
      <xs:element minOccurs="0" name="FacultativeAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="InsuredAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Warning" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReinsuranceWarning" nillable="true" type="tns:ReinsuranceWarning" />
</xs:schema>