SqlScript/branch.underwriting/WEB.UnderWriting/Service References/wsReinsurance/Calculate33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://reinsurance.dev.statetrustlife.sv/Calculate.svc?xsd=xsd1" namespace="http://microsoft.com/wsdl/types/" />
  <xs:import schemaLocation="http://reinsurance.dev.statetrustlife.sv/Calculate.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Reinsurance.ENTITY" />
  <xs:element name="GetSegmentsPolicyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="policy" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="core" type="tns:Cores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="Cores">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OIPA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetSegmentsPolicyDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSegmentsPolicyDataResult" type="tns:ArrayOfPolicyCoverage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfPolicyCoverage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PolicyCoverage" nillable="true" type="tns:PolicyCoverage" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PolicyCoverage">
    <xs:sequence>
      <xs:element xmlns:q1="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="PlanGUID" type="q1:guid" />
      <xs:element xmlns:q2="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="PolicyGUID" type="q2:guid" />
      <xs:element xmlns:q3="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="SegmentGUID" type="q3:guid" />
      <xs:element xmlns:q4="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="SegmentNameGUID" type="q4:guid" />
      <xs:element minOccurs="1" maxOccurs="1" name="SegmentIssueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PlanName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SegmentName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="StatusCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ShortDescription" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CoverageAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PolicyIssueDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="PolicyMonthsAge" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculateReinsuranceRiskByContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ProductType" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="coverageAmount" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="ContactId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IllustrationNo" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CalculationDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateReinsuranceRiskByContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CalculateReinsuranceRiskByContactResult" type="tns:ArrayOfReinsuranceRisk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfReinsuranceRisk">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReinsuranceRisk" nillable="true" type="tns:ReinsuranceRisk" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReinsuranceRisk">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CompanyUsedRisk" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="MaxCompanyRisk" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReinsuranceUsedRisk" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="MaxReinsuranceRisk" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="AvailableReinsuranceRisk" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="AvailableCompanyRisk" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ContractType" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RiskComments" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculateReinsuranceCostByPolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReinsuranceCalculate" nillable="true" type="tns:ReinsuranceCalculate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ReinsuranceCalculate">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyRiskFacultativeAmt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractLayerGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reinsuranceFacultative" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReinsuranceRiskFacultativeAmt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="policy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReinsuranceCalculate" nillable="true" type="tns:ReinsuranceCalculate" />
  <xs:element name="CalculateReinsuranceCostByPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateReinsuranceCostByPolicyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForWarning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coverageAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="ContactId" type="xs:int" />
        <xs:element minOccurs="0" name="IllustrationNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForWarningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Reinsurance.ENTITY" minOccurs="0" name="CheckForWarningResult" nillable="true" type="q5:ReinsuranceWarning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>