SqlScript/CondParticulares/ATL.PdfSite/Service References/OnBaseSusVeh/SoapService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://statetrust.com/dmdocpoliza2" elementFormDefault="qualified" targetNamespace="http://statetrust.com/dmdocpoliza2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetDocument_DMPoliza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomQueryData" nillable="true" type="tns:OBCustomQueryGetDocument_DMPoliza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBCustomQueryGetDocument_DMPoliza">
    <xs:sequence>
      <xs:element minOccurs="0" name="Keywords" nillable="true" type="tns:CustomQueryKeywordsGetDocument_DMPoliza" />
      <xs:element minOccurs="0" name="DocumentDates" nillable="true" type="tns:CustomQueryDateRangeGetDocument_DMPoliza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OBCustomQueryGetDocument_DMPoliza" nillable="true" type="tns:OBCustomQueryGetDocument_DMPoliza" />
  <xs:complexType name="CustomQueryKeywordsGetDocument_DMPoliza">
    <xs:sequence>
      <xs:element minOccurs="0" name="NúmerodePóliza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombredelAsegurado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripción" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechadeExpiración" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaEfectiva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Talonario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Validador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NúmerodeCaso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumerodeNota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Chasis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prestatario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomQueryKeywordsGetDocument_DMPoliza" nillable="true" type="tns:CustomQueryKeywordsGetDocument_DMPoliza" />
  <xs:complexType name="CustomQueryDateRangeGetDocument_DMPoliza">
    <xs:sequence>
      <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomQueryDateRangeGetDocument_DMPoliza" nillable="true" type="tns:CustomQueryDateRangeGetDocument_DMPoliza" />
  <xs:element name="GetDocument_DMPolizaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocument_DMPolizaResult" nillable="true" type="tns:CustomQueryDispColResponseGetDocument_DMPoliza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CustomQueryDispColResponseGetDocument_DMPoliza">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentResults" nillable="true" type="tns:ArrayOfDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomQueryDispColResponseGetDocument_DMPoliza" nillable="true" type="tns:CustomQueryDispColResponseGetDocument_DMPoliza" />
  <xs:complexType name="ArrayOfDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocument" nillable="true" type="tns:ArrayOfDocument" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="documentHandle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="docTypeNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="docTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateStored" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="docDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="docStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createdBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayColumns" nillable="true" type="tns:DisplayColumns" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:complexType name="DisplayColumns">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentHandle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NúmerodePóliza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombredelAsegurado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripción" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechadeExpiración" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaEfectiva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Talonario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Validador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NúmerodeCaso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumerodeNota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Chasis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prestatario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DisplayColumns" nillable="true" type="tns:DisplayColumns" />
</xs:schema>