SistemaFacturacion/SellersManagement/SellersManagement/Connected Services/AgentServiceReference/AgentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Global.Agent.Service.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Global.Agent.Service.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAgent.BusinessLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.BusinessLine" nillable="true" type="tns:Agent.BusinessLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.BusinessLine" nillable="true" type="tns:ArrayOfAgent.BusinessLine" />
  <xs:complexType name="Agent.BusinessLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="AgentTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AssignedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BlId" type="xs:int" />
      <xs:element minOccurs="0" name="BlTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="DomesticRegId" type="xs:int" />
      <xs:element minOccurs="0" name="InactivationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OfficeId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="RegionId" type="xs:int" />
      <xs:element minOccurs="0" name="StateProvId" type="xs:int" />
      <xs:element minOccurs="0" name="UnassignDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.BusinessLine" nillable="true" type="tns:Agent.BusinessLine" />
  <xs:complexType name="Agent.Key">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.Key" nillable="true" type="tns:Agent.Key" />
  <xs:complexType name="ArrayOfAgent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent" nillable="true" type="tns:Agent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent" nillable="true" type="tns:ArrayOfAgent" />
  <xs:complexType name="Agent">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbaNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="AgentStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="AgentSubTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="AgentTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Allocation" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AllocationTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BankAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthCountryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CitizenshipCountryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="DirectoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Dob" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentityTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InactiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MaritalStatusId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PracticeSports" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReferencedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResidenceCountryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SecondLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sportspracticed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent" nillable="true" type="tns:Agent" />
  <xs:complexType name="ArrayOfAgent.ArrayInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.ArrayInfo" nillable="true" type="tns:Agent.ArrayInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.ArrayInfo" nillable="true" type="tns:ArrayOfAgent.ArrayInfo" />
  <xs:complexType name="Agent.ArrayInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="AgentLevelNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ApprovalResultCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ApprovalStatusCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BusinessLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessSegmentId" type="xs:int" />
      <xs:element minOccurs="0" name="CancelDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChainlevelDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="ContractExpirationDate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ContractFilename" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="License" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RehabilitationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SupervisorId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.ArrayInfo" nillable="true" type="tns:Agent.ArrayInfo" />
  <xs:complexType name="Agent.SaleChannelKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="DistributionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.SaleChannelKey" nillable="true" type="tns:Agent.SaleChannelKey" />
  <xs:complexType name="ArrayOfAgent.SaleChannel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.SaleChannel" nillable="true" type="tns:Agent.SaleChannel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.SaleChannel" nillable="true" type="tns:ArrayOfAgent.SaleChannel" />
  <xs:complexType name="Agent.SaleChannel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="ChannelDistribStatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="DistributionId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.SaleChannel" nillable="true" type="tns:Agent.SaleChannel" />
  <xs:complexType name="Agent.AcademicKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcademicGradeId" type="xs:int" />
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.AcademicKey" nillable="true" type="tns:Agent.AcademicKey" />
  <xs:complexType name="ArrayOfAgent.Academic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.Academic" nillable="true" type="tns:Agent.Academic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.Academic" nillable="true" type="tns:ArrayOfAgent.Academic" />
  <xs:complexType name="Agent.Academic">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcademicGradeId" type="xs:int" />
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="DateFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntitledTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstitutionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudiType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StudyTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.Academic" nillable="true" type="tns:Agent.Academic" />
  <xs:complexType name="Agent.ChainKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChainDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChainId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.ChainKey" nillable="true" type="tns:Agent.ChainKey" />
  <xs:complexType name="ArrayOfAgent.Chain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.Chain" nillable="true" type="tns:Agent.Chain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.Chain" nillable="true" type="tns:ArrayOfAgent.Chain" />
  <xs:complexType name="Agent.Chain">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChainComment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChainDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChainId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.Chain" nillable="true" type="tns:Agent.Chain" />
  <xs:complexType name="Agent.ChainDetailKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="ChainDetId" type="xs:int" />
      <xs:element minOccurs="0" name="ChainId" type="xs:int" />
      <xs:element minOccurs="0" name="ChainLevelId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.ChainDetailKey" nillable="true" type="tns:Agent.ChainDetailKey" />
  <xs:complexType name="ArrayOfAgent.ChainDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.ChainDetail" nillable="true" type="tns:Agent.ChainDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.ChainDetail" nillable="true" type="tns:ArrayOfAgent.ChainDetail" />
  <xs:complexType name="Agent.ChainDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentChainStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="ChainDetId" type="xs:int" />
      <xs:element minOccurs="0" name="ChainId" type="xs:int" />
      <xs:element minOccurs="0" name="ChainLevelId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="DateAssigned" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="RelationshipToSupervisor" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SupervisorAgentId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.ChainDetail" nillable="true" type="tns:Agent.ChainDetail" />
  <xs:complexType name="Agent.FamilyKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentFamilyId" type="xs:int" />
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="RelationshipToAgentId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.FamilyKey" nillable="true" type="tns:Agent.FamilyKey" />
  <xs:complexType name="ArrayOfAgent.Family">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.Family" nillable="true" type="tns:Agent.Family" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.Family" nillable="true" type="tns:ArrayOfAgent.Family" />
  <xs:complexType name="Agent.Family">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentFamilyId" type="xs:int" />
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="FamilyDetailId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RelationshipToAgentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="WorkForUs" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.Family" nillable="true" type="tns:Agent.Family" />
  <xs:complexType name="Agent.LevelKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChainLevelId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.LevelKey" nillable="true" type="tns:Agent.LevelKey" />
  <xs:complexType name="ArrayOfAgent.Level">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.Level" nillable="true" type="tns:Agent.Level" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.Level" nillable="true" type="tns:ArrayOfAgent.Level" />
  <xs:complexType name="Agent.Level">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChainLevelId" type="xs:int" />
      <xs:element minOccurs="0" name="ChainlevelDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.Level" nillable="true" type="tns:Agent.Level" />
  <xs:complexType name="Agent.ReferenceKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="ReferenceId" type="xs:int" />
      <xs:element minOccurs="0" name="ReferenceTypeId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.ReferenceKey" nillable="true" type="tns:Agent.ReferenceKey" />
  <xs:complexType name="ArrayOfAgent.Reference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.Reference" nillable="true" type="tns:Agent.Reference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.Reference" nillable="true" type="tns:ArrayOfAgent.Reference" />
  <xs:complexType name="Agent.Reference">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="CityId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DomesticRegId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EntityDirectoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EntityPersonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImmediateSupervisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LaborCurrentStatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LeaveCause" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontlyPayment" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PositionDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReferenceId" type="xs:int" />
      <xs:element minOccurs="0" name="ReferenceTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RegionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StateProvId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.Reference" nillable="true" type="tns:Agent.Reference" />
  <xs:complexType name="Agent.CommDetailKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="DirDetailId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DirectoryId" type="xs:int" />
      <xs:element minOccurs="0" name="DirectoryTypeId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.CommDetailKey" nillable="true" type="tns:Agent.CommDetailKey" />
  <xs:complexType name="ArrayOfAgent.CommDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.CommDetail" nillable="true" type="tns:Agent.CommDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.CommDetail" nillable="true" type="tns:ArrayOfAgent.CommDetail" />
  <xs:complexType name="Agent.CommDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BlgdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CommTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DirDetailId" type="xs:int" />
      <xs:element minOccurs="0" name="DirectoryId" type="xs:int" />
      <xs:element minOccurs="0" name="DirectoryTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="DomesticRegionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Door" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Floor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPrimary" type="xs:boolean" />
      <xs:element minOccurs="0" name="NearToReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonToContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneExt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhonePrefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RegionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StateProvId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.CommDetail" nillable="true" type="tns:Agent.CommDetail" />
  <xs:complexType name="Agent.DocumentKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="DocCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DocTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DocumentId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.DocumentKey" nillable="true" type="tns:Agent.DocumentKey" />
  <xs:complexType name="ArrayOfAgent.Document">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.Document" nillable="true" type="tns:Agent.Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.Document" nillable="true" type="tns:ArrayOfAgent.Document" />
  <xs:complexType name="Agent.Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="DocCategoryDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="DocTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="DocumentBinary" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DocumentId" type="xs:int" />
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.Document" nillable="true" type="tns:Agent.Document" />
  <xs:complexType name="ArrayOfAgent.AgentTree">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.AgentTree" nillable="true" type="tns:Agent.AgentTree" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.AgentTree" nillable="true" type="tns:ArrayOfAgent.AgentTree" />
  <xs:complexType name="Agent.AgentTree">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agentid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nameid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.AgentTree" nillable="true" type="tns:Agent.AgentTree" />
  <xs:complexType name="ArrayOfAgent.AgentTreeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.AgentTreeInfo" nillable="true" type="tns:Agent.AgentTreeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.AgentTreeInfo" nillable="true" type="tns:ArrayOfAgent.AgentTreeInfo" />
  <xs:complexType name="Agent.AgentTreeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullNameAll" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.AgentTreeInfo" nillable="true" type="tns:Agent.AgentTreeInfo" />
  <xs:complexType name="Agent.AssignedOfficeKeyNew">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.AssignedOfficeKeyNew" nillable="true" type="tns:Agent.AssignedOfficeKeyNew" />
  <xs:complexType name="ArrayOfAgent.AssignedOffice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.AssignedOffice" nillable="true" type="tns:Agent.AssignedOffice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.AssignedOffice" nillable="true" type="tns:ArrayOfAgent.AssignedOffice" />
  <xs:complexType name="Agent.AssignedOffice">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="AgentNameID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="AssignedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="DomesticRegId" type="xs:int" />
      <xs:element minOccurs="0" name="OfficeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficeId" type="xs:int" />
      <xs:element minOccurs="0" name="RegionId" type="xs:int" />
      <xs:element minOccurs="0" name="StateProvId" type="xs:int" />
      <xs:element minOccurs="0" name="UnassignDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.AssignedOffice" nillable="true" type="tns:Agent.AssignedOffice" />
  <xs:complexType name="ArrayOfAgent.CommDetailKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.CommDetailKey" nillable="true" type="tns:Agent.CommDetailKey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.CommDetailKey" nillable="true" type="tns:ArrayOfAgent.CommDetailKey" />
  <xs:complexType name="ArrayOfAgent.FamilyKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.FamilyKey" nillable="true" type="tns:Agent.FamilyKey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.FamilyKey" nillable="true" type="tns:ArrayOfAgent.FamilyKey" />
  <xs:complexType name="ArrayOfAgent.ReferenceKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.ReferenceKey" nillable="true" type="tns:Agent.ReferenceKey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.ReferenceKey" nillable="true" type="tns:ArrayOfAgent.ReferenceKey" />
  <xs:complexType name="ArrayOfAgent.AcademicKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.AcademicKey" nillable="true" type="tns:Agent.AcademicKey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.AcademicKey" nillable="true" type="tns:ArrayOfAgent.AcademicKey" />
  <xs:complexType name="ArrayOfAgent.ChainGeneric">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.ChainGeneric" nillable="true" type="tns:Agent.ChainGeneric" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.ChainGeneric" nillable="true" type="tns:ArrayOfAgent.ChainGeneric" />
  <xs:complexType name="Agent.ChainGeneric">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentChainStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="ChainDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChainDetId" type="xs:int" />
      <xs:element minOccurs="0" name="ChainLevelId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
      <xs:element minOccurs="0" name="DateAssigned" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="RelationshipToSupervisor" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SupervisorAgentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.ChainGeneric" nillable="true" type="tns:Agent.ChainGeneric" />
  <xs:complexType name="ArrayOfAgent.ChainGenericKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.ChainGenericKey" nillable="true" type="tns:Agent.ChainGenericKey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.ChainGenericKey" nillable="true" type="tns:ArrayOfAgent.ChainGenericKey" />
  <xs:complexType name="Agent.ChainGenericKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChainDetId" type="xs:int" />
      <xs:element minOccurs="0" name="ChainId" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.ChainGenericKey" nillable="true" type="tns:Agent.ChainGenericKey" />
  <xs:complexType name="ArrayOfAgent.AgentInfoATL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent.AgentInfoATL" nillable="true" type="tns:Agent.AgentInfoATL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgent.AgentInfoATL" nillable="true" type="tns:ArrayOfAgent.AgentInfoATL" />
  <xs:complexType name="Agent.AgentInfoATL">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agent_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Agent_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Full_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Office_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Office_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Office_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent.AgentInfoATL" nillable="true" type="tns:Agent.AgentInfoATL" />
</xs:schema>