SqlScript/branch.underwriting/WEB.NewBusiness/Service References/EquifaxService/EquifaxService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EquifaxService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wsEquifaxService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://devequifax.atlantica.do/EquifaxService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://devequifax.atlantica.do/EquifaxService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://devequifax.atlantica.do/EquifaxService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Transunion.Entity" />
      <xsd:import schemaLocation="https://devequifax.atlantica.do/EquifaxService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Equifax.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEquifaxService_GetReportHCI_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportHCI" />
  </wsdl:message>
  <wsdl:message name="IEquifaxService_GetReportHCI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportHCIResponse" />
  </wsdl:message>
  <wsdl:message name="IEquifaxService_GetGroupOfReportHCI_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupOfReportHCI" />
  </wsdl:message>
  <wsdl:message name="IEquifaxService_GetGroupOfReportHCI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupOfReportHCIResponse" />
  </wsdl:message>
  <wsdl:message name="IEquifaxService_GetRiesgoBaseScore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRiesgoBaseScore" />
  </wsdl:message>
  <wsdl:message name="IEquifaxService_GetRiesgoBaseScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRiesgoBaseScoreResponse" />
  </wsdl:message>
  <wsdl:message name="IEquifaxService_GetReportHCIFromEquifax_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportHCIFromEquifax" />
  </wsdl:message>
  <wsdl:message name="IEquifaxService_GetReportHCIFromEquifax_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportHCIFromEquifaxResponse" />
  </wsdl:message>
  <wsdl:message name="IEquifaxService_GetRiesgoBaseScoreFromEquifax_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRiesgoBaseScoreFromEquifax" />
  </wsdl:message>
  <wsdl:message name="IEquifaxService_GetRiesgoBaseScoreFromEquifax_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRiesgoBaseScoreFromEquifaxResponse" />
  </wsdl:message>
  <wsdl:message name="IEquifaxService_InsertLog_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertLog" />
  </wsdl:message>
  <wsdl:message name="IEquifaxService_InsertLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IEquifaxService">
    <wsdl:operation name="GetReportHCI">
      <wsdl:input wsaw:Action="http://tempuri.org/IEquifaxService/GetReportHCI" message="tns:IEquifaxService_GetReportHCI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEquifaxService/GetReportHCIResponse" message="tns:IEquifaxService_GetReportHCI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupOfReportHCI">
      <wsdl:input wsaw:Action="http://tempuri.org/IEquifaxService/GetGroupOfReportHCI" message="tns:IEquifaxService_GetGroupOfReportHCI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEquifaxService/GetGroupOfReportHCIResponse" message="tns:IEquifaxService_GetGroupOfReportHCI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRiesgoBaseScore">
      <wsdl:input wsaw:Action="http://tempuri.org/IEquifaxService/GetRiesgoBaseScore" message="tns:IEquifaxService_GetRiesgoBaseScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEquifaxService/GetRiesgoBaseScoreResponse" message="tns:IEquifaxService_GetRiesgoBaseScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportHCIFromEquifax">
      <wsdl:input wsaw:Action="http://tempuri.org/IEquifaxService/GetReportHCIFromEquifax" message="tns:IEquifaxService_GetReportHCIFromEquifax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEquifaxService/GetReportHCIFromEquifaxResponse" message="tns:IEquifaxService_GetReportHCIFromEquifax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRiesgoBaseScoreFromEquifax">
      <wsdl:input wsaw:Action="http://tempuri.org/IEquifaxService/GetRiesgoBaseScoreFromEquifax" message="tns:IEquifaxService_GetRiesgoBaseScoreFromEquifax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEquifaxService/GetRiesgoBaseScoreFromEquifaxResponse" message="tns:IEquifaxService_GetRiesgoBaseScoreFromEquifax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IEquifaxService/InsertLog" message="tns:IEquifaxService_InsertLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEquifaxService/InsertLogResponse" message="tns:IEquifaxService_InsertLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsEquifaxService" type="tns:IEquifaxService">
    <wsp:PolicyReference URI="#wsEquifaxService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReportHCI">
      <soap12:operation soapAction="http://tempuri.org/IEquifaxService/GetReportHCI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupOfReportHCI">
      <soap12:operation soapAction="http://tempuri.org/IEquifaxService/GetGroupOfReportHCI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRiesgoBaseScore">
      <soap12:operation soapAction="http://tempuri.org/IEquifaxService/GetRiesgoBaseScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportHCIFromEquifax">
      <soap12:operation soapAction="http://tempuri.org/IEquifaxService/GetReportHCIFromEquifax" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRiesgoBaseScoreFromEquifax">
      <soap12:operation soapAction="http://tempuri.org/IEquifaxService/GetRiesgoBaseScoreFromEquifax" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLog">
      <soap12:operation soapAction="http://tempuri.org/IEquifaxService/InsertLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EquifaxService">
    <wsdl:port name="wsEquifaxService" binding="tns:wsEquifaxService">
      <soap12:address location="https://devequifax.atlantica.do/EquifaxService.svc/EquifaxService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://devequifax.atlantica.do/EquifaxService.svc/EquifaxService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>