SqlScript/branch.underwriting/WEB.NewBusiness/Service References/EquifaxService/EquifaxService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Transunion.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Transunion.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://devequifax.atlantica.do/EquifaxService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Identification">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Identification" nillable="true" type="tns:Identification" />
  <xs:complexType name="ReportHCI.DatosGenerales">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activas" nillable="true" type="tns:ArrayOfReportHCI.Transaccion" />
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CedulaConyuge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CedulaVieja" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conyuge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Direcciones" nillable="true" type="tns:ArrayOfReportHCI.Direccion" />
      <xs:element minOccurs="0" name="Edad" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Inactivas" nillable="true" type="tns:ArrayOfReportHCI.Transaccion" />
      <xs:element minOccurs="0" name="Indagaciones" nillable="true" type="tns:ArrayOfReportHCI.Indagacion" />
      <xs:element minOccurs="0" name="IndividuoId" type="xs:int" />
      <xs:element minOccurs="0" name="InformacionPublicaJudicial" nillable="true" type="tns:ArrayOfReportHCI.Sentencia" />
      <xs:element minOccurs="0" name="Last" type="xs:boolean" />
      <xs:element minOccurs="0" name="LugarNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Madre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ocupacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Padre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pasaporte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResumenTransacciones" nillable="true" type="tns:ArrayOfReportHCI.ResumenTransaccion" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Segmentacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefonos" nillable="true" type="tns:ArrayOfReportHCI.Telefono" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportHCI.DatosGenerales" nillable="true" type="tns:ReportHCI.DatosGenerales" />
  <xs:complexType name="ArrayOfReportHCI.Transaccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportHCI.Transaccion" nillable="true" type="tns:ReportHCI.Transaccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportHCI.Transaccion" nillable="true" type="tns:ArrayOfReportHCI.Transaccion" />
  <xs:complexType name="ReportHCI.Transaccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comportamiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="D120" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="D150" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="D30" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="D60" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="D90" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaApertura" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaUltimaAct" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaUltimaTrx" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVencimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Impugnado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndividuoId" type="xs:int" />
      <xs:element minOccurs="0" name="LimiteCredito" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoAtraso" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoCuotas" type="xs:decimal" />
      <xs:element minOccurs="0" name="NoCuotas" type="xs:int" />
      <xs:element minOccurs="0" name="Suscriptor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoTransaccionDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoTransaccionId" type="xs:int" />
      <xs:element minOccurs="0" name="TransaccionId" type="xs:int" />
      <xs:element minOccurs="0" name="Transferido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_Balance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_Comportamiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_D120" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_D150" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_D30" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_D60" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_D90" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_Estatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_FechaApertura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_FechaUltimaAct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_FechaUltimaTrx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_FechaVencimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_LimiteCredito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_MontoAtraso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_MontoCuotas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_NoCuotas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_Suscriptor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportHCI.Transaccion" nillable="true" type="tns:ReportHCI.Transaccion" />
  <xs:complexType name="ArrayOfReportHCI.Direccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportHCI.Direccion" nillable="true" type="tns:ReportHCI.Direccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportHCI.Direccion" nillable="true" type="tns:ArrayOfReportHCI.Direccion" />
  <xs:complexType name="ReportHCI.Direccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionId" type="xs:int" />
      <xs:element minOccurs="0" name="IndividuoId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportHCI.Direccion" nillable="true" type="tns:ReportHCI.Direccion" />
  <xs:complexType name="ArrayOfReportHCI.Indagacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportHCI.Indagacion" nillable="true" type="tns:ReportHCI.Indagacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportHCI.Indagacion" nillable="true" type="tns:ArrayOfReportHCI.Indagacion" />
  <xs:complexType name="ReportHCI.Indagacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaIndagacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndagacionId" type="xs:int" />
      <xs:element minOccurs="0" name="IndividuoId" type="xs:int" />
      <xs:element minOccurs="0" name="Suscriptor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportHCI.Indagacion" nillable="true" type="tns:ReportHCI.Indagacion" />
  <xs:complexType name="ArrayOfReportHCI.Sentencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportHCI.Sentencia" nillable="true" type="tns:ReportHCI.Sentencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportHCI.Sentencia" nillable="true" type="tns:ArrayOfReportHCI.Sentencia" />
  <xs:complexType name="ReportHCI.Sentencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbogadoDemandante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CiudadTribunal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Demandantes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndividuoId" type="xs:int" />
      <xs:element minOccurs="0" name="Juez" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SentenciaId" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tribunal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportHCI.Sentencia" nillable="true" type="tns:ReportHCI.Sentencia" />
  <xs:complexType name="ArrayOfReportHCI.ResumenTransaccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportHCI.ResumenTransaccion" nillable="true" type="tns:ReportHCI.ResumenTransaccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportHCI.ResumenTransaccion" nillable="true" type="tns:ArrayOfReportHCI.ResumenTransaccion" />
  <xs:complexType name="ReportHCI.ResumenTransaccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="BalanceUS" type="xs:decimal" />
      <xs:element minOccurs="0" name="CantidadCuentas" type="xs:int" />
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndividuoId" type="xs:int" />
      <xs:element minOccurs="0" name="LimiteCredito" type="xs:decimal" />
      <xs:element minOccurs="0" name="LimiteCreditoUS" type="xs:decimal" />
      <xs:element minOccurs="0" name="Moneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoAtraso" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoAtrasoUS" type="xs:decimal" />
      <xs:element minOccurs="0" name="PctUtilizacion" type="xs:decimal" />
      <xs:element minOccurs="0" name="PctUtilizacionUS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ResumenTransaccionId" type="xs:int" />
      <xs:element minOccurs="0" name="Suscriptor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportHCI.ResumenTransaccion" nillable="true" type="tns:ReportHCI.ResumenTransaccion" />
  <xs:complexType name="ArrayOfReportHCI.Telefono">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportHCI.Telefono" nillable="true" type="tns:ReportHCI.Telefono" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportHCI.Telefono" nillable="true" type="tns:ArrayOfReportHCI.Telefono" />
  <xs:complexType name="ReportHCI.Telefono">
    <xs:sequence>
      <xs:element minOccurs="0" name="IndividuoId" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoId" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoTelefonoId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportHCI.Telefono" nillable="true" type="tns:ReportHCI.Telefono" />
  <xs:complexType name="ArrayOfIdentification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Identification" nillable="true" type="tns:Identification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIdentification" nillable="true" type="tns:ArrayOfIdentification" />
  <xs:complexType name="ArrayOfReportHCI.DatosGenerales">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportHCI.DatosGenerales" nillable="true" type="tns:ReportHCI.DatosGenerales" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportHCI.DatosGenerales" nillable="true" type="tns:ArrayOfReportHCI.DatosGenerales" />
  <xs:complexType name="Riesgo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Declinar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Productos" nillable="true" type="tns:ArrayOfRiesgo.Producto" />
      <xs:element minOccurs="0" name="RangoDesde" type="xs:int" />
      <xs:element minOccurs="0" name="RangoHasta" type="xs:int" />
      <xs:element minOccurs="0" name="Razones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoId" type="xs:int" />
      <xs:element minOccurs="0" name="TipoNameKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Riesgo" nillable="true" type="tns:Riesgo" />
  <xs:complexType name="ArrayOfRiesgo.Producto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Riesgo.Producto" nillable="true" type="tns:Riesgo.Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRiesgo.Producto" nillable="true" type="tns:ArrayOfRiesgo.Producto" />
  <xs:complexType name="Riesgo.Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="JsonInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Riesgo.Producto" nillable="true" type="tns:Riesgo.Producto" />
  <xs:complexType name="Logger.Parameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CorpId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="LogTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="LogValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Logger.Parameter" nillable="true" type="tns:Logger.Parameter" />
  <xs:complexType name="ArrayOfLogger.Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Logger.Result" nillable="true" type="tns:Logger.Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogger.Result" nillable="true" type="tns:ArrayOfLogger.Result" />
  <xs:complexType name="Logger.Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Logger.Result" nillable="true" type="tns:Logger.Result" />
</xs:schema>