SqlScript/branch.underwriting/WEB.UnderWriting/Service References/STG.BlackList.Risk/Risk1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Risk" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wssearchxpert.dev.atlantica.local/Risk.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wssearchxpert.dev.atlantica.local/Risk.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wssearchxpert.dev.atlantica.local/Risk.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/STG.BlackList.Entity" />
      <xsd:import schemaLocation="http://wssearchxpert.dev.atlantica.local/Risk.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/STG.BlackList.Entity.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRisk_CalculateRiskFactor_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateRiskFactor" />
  </wsdl:message>
  <wsdl:message name="IRisk_CalculateRiskFactor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateRiskFactorResponse" />
  </wsdl:message>
  <wsdl:message name="IRisk_GetClientTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientTypes" />
  </wsdl:message>
  <wsdl:message name="IRisk_GetClientTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IRisk_GetEmploymentTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmploymentTypes" />
  </wsdl:message>
  <wsdl:message name="IRisk_GetEmploymentTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmploymentTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IRisk_GetCitizenTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCitizenTypes" />
  </wsdl:message>
  <wsdl:message name="IRisk_GetCitizenTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitizenTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IRisk_GetProductTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductTypes" />
  </wsdl:message>
  <wsdl:message name="IRisk_GetProductTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IRisk_GetPremiumTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPremiumTypes" />
  </wsdl:message>
  <wsdl:message name="IRisk_GetPremiumTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPremiumTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IRisk_GetChannelsTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelsTypes" />
  </wsdl:message>
  <wsdl:message name="IRisk_GetChannelsTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelsTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IRisk_SendRiskNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendRiskNotification" />
  </wsdl:message>
  <wsdl:message name="IRisk_SendRiskNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendRiskNotificationResponse" />
  </wsdl:message>
  <wsdl:portType name="IRisk">
    <wsdl:operation name="CalculateRiskFactor">
      <wsdl:input wsaw:Action="http://tempuri.org/IRisk/CalculateRiskFactor" message="tns:IRisk_CalculateRiskFactor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRisk/CalculateRiskFactorResponse" message="tns:IRisk_CalculateRiskFactor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRisk/GetClientTypes" message="tns:IRisk_GetClientTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRisk/GetClientTypesResponse" message="tns:IRisk_GetClientTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmploymentTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRisk/GetEmploymentTypes" message="tns:IRisk_GetEmploymentTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRisk/GetEmploymentTypesResponse" message="tns:IRisk_GetEmploymentTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCitizenTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRisk/GetCitizenTypes" message="tns:IRisk_GetCitizenTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRisk/GetCitizenTypesResponse" message="tns:IRisk_GetCitizenTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRisk/GetProductTypes" message="tns:IRisk_GetProductTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRisk/GetProductTypesResponse" message="tns:IRisk_GetProductTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPremiumTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRisk/GetPremiumTypes" message="tns:IRisk_GetPremiumTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRisk/GetPremiumTypesResponse" message="tns:IRisk_GetPremiumTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelsTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRisk/GetChannelsTypes" message="tns:IRisk_GetChannelsTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRisk/GetChannelsTypesResponse" message="tns:IRisk_GetChannelsTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendRiskNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IRisk/SendRiskNotification" message="tns:IRisk_SendRiskNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRisk/SendRiskNotificationResponse" message="tns:IRisk_SendRiskNotification_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRisk" type="tns:IRisk">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateRiskFactor">
      <soap:operation soapAction="http://tempuri.org/IRisk/CalculateRiskFactor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientTypes">
      <soap:operation soapAction="http://tempuri.org/IRisk/GetClientTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmploymentTypes">
      <soap:operation soapAction="http://tempuri.org/IRisk/GetEmploymentTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitizenTypes">
      <soap:operation soapAction="http://tempuri.org/IRisk/GetCitizenTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductTypes">
      <soap:operation soapAction="http://tempuri.org/IRisk/GetProductTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPremiumTypes">
      <soap:operation soapAction="http://tempuri.org/IRisk/GetPremiumTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelsTypes">
      <soap:operation soapAction="http://tempuri.org/IRisk/GetChannelsTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRiskNotification">
      <soap:operation soapAction="http://tempuri.org/IRisk/SendRiskNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Risk">
    <wsdl:port name="BasicHttpBinding_IRisk" binding="tns:BasicHttpBinding_IRisk">
      <soap:address location="http://wssearchxpert.dev.atlantica.local/Risk.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>