SqlScript/branch.underwriting/WEB.NewBusiness/NewBusiness/XML/BO Virtual Office 03-05-2018.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="POS_AUTO_SCHEMA" targetNamespace="POS_AUTO_SCHEMA" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:element name="POS_AUTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Transaction" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="DocumentId" minOccurs="1"/>
              <!-- Id del template de Thunderhead a utilizar-->
              <xs:element type="xs:string" name="Fullname" minOccurs="0" maxOccurs="1"/>
              <!-- Nombre completo de la persona a quien va dirigido el email-->
              <xs:element type="xs:string" name="Username" minOccurs="0" maxOccurs="1"/>
              <!-- Nombre de usuario de la cuenta sobre la cual se va a trabajar -->
              <xs:element type="xs:string" name="UserEmail" minOccurs="0" maxOccurs="1"/>
              <!-- Email donde enviar las instrucciones -->
              <xs:element type="xs:string" name="Url" minOccurs="0" maxOccurs="1"/>
              <!-- Url generada para realizar la operatoria de contraseña-->
			  <xs:element type="xs:string" name="Direccion" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="Ciudad" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="Pais" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:decimal" name="MontoEndosado" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="Rnc" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="Address" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="Beneficiary" minOccurs="0" maxOccurs="1"/>
			   <!-- added 01-09-2016 -->
			  <xs:element type="xs:string" name="NombreInspector" minOccurs="0" maxOccurs="1"/>
              
			   <!-- added 05-09-2016 -->
			  <xs:element type="xs:string" name="InspectionStartHour" minOccurs="0" maxOccurs="1"/>
			  
			  <!-- added 05-09-2016 -->
			  <xs:element type="xs:string" name="AgenteComercial" minOccurs="0" maxOccurs="1"/>
			  
			  <!-- added 01-11-2016 -->
			  <xs:element type="xs:string" name="Intermediario" minOccurs="0" maxOccurs="1"/>
			  
			   <!-- added 10-19-2017 -->
			  <xs:element type="Loan" name="Loan" minOccurs="0" maxOccurs="1"/>
			    
			  
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Quotation" minOccurs="0" maxOccurs ="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PrincipalName" minOccurs="0" maxOccurs="1"/>
              <!-- Nombre completo del Principal - Cliente que solicita la póliza-->
              <xs:element type="xs:string" name="QuotationNumber" minOccurs="0" maxOccurs="1"/>
              <!-- Número de cotización -->
              <xs:element type="xs:string" name="LineOfBusiness" minOccurs="0" maxOccurs="1"/>
              <!-- Ramo -->
              <xs:element type="xs:string" name="Product" minOccurs="0" maxOccurs="1"/>
              <!-- Producto -->
              <xs:element type="xs:dateTime" name="StartDate" minOccurs="0" maxOccurs="1"/>
              <!-- Fecha Inicio Vigencia -->
              <xs:element type="xs:dateTime" name="EndDate" minOccurs="0" maxOccurs="1"/>
              <!-- Fecha Fin Vigencia -->
              <xs:element type="xs:string" name="QuotationPdf" minOccurs="0" maxOccurs="1"></xs:element>
              <!-- Ruta física del PDF con el reporte de cotización -->
            			
			  <xs:element type="xs:string" name="PrincipalCountry" minOccurs="0" maxOccurs="1"></xs:element>		
			  <xs:element type="xs:string" name="Plan" minOccurs="0" maxOccurs="1"></xs:element>		
			 <xs:element type="xs:dateTime" name="QuotationDate" minOccurs="0" maxOccurs="1"/>
			 
			 <xs:element type="xs:dateTime" name="ProposalDate" minOccurs="0" maxOccurs="1"/>
			 
			  <xs:element type="xs:string" name="IdType" minOccurs="0" maxOccurs="1"></xs:element>		
			  
			  <xs:element type="xs:string" name="IdNumber" minOccurs="0" maxOccurs="1"></xs:element>		
			  
			  <xs:element type="xs:string" name="TelephoneNumber" minOccurs="0" maxOccurs="1"></xs:element>		
			  
			  <!-- Tipo de NCF-->
			  <xs:element type="xs:string" name="NCFType" minOccurs ="0" maxOccurs ="1"></xs:element>
			  
			  <xs:element type="xs:string" name="Email" minOccurs="0" maxOccurs="1"></xs:element>		
			  
			  <xs:element type="xs:integer" name="NumberOfPayments" minOccurs="0" maxOccurs="1"></xs:element>		
			  <xs:element type="xs:integer" name="NumberOfVehicles" minOccurs="0" maxOccurs="1"></xs:element>		
			 <xs:element name="Drivers" minOccurs="0" maxOccurs="unbounded">
			 <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="IdType" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="IdNumber" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:dateTime" name="BirthDate" minOccurs="0" maxOccurs="1"/>
             <xs:element type="xs:string" name="Email" minOccurs="0" maxOccurs="1"/>
             <xs:element type="xs:string" name="TelephoneNumber" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
          </xs:complexType>
        </xs:element>
			 
			 <!-- -------------Vehicles----------------  -->
					 
			  <xs:element name="Vehicles" minOccurs="0" maxOccurs="unbounded">
			  <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Brand" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="Model" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:integer" name="Year" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="Chasis" minOccurs="0" maxOccurs="1"/>
              <!-- added 01-09-2016 -->			 
			 <xs:element type="xs:string" name="Clase" minOccurs="0" maxOccurs="1"/>
			  <!-- added 01-09-2016 -->
			  <xs:element type="xs:string" name="Version" minOccurs="0" maxOccurs="1"/>
			  <!-- added 01-09-2016 -->
			  <xs:element type="xs:string" name="tipo" minOccurs="0" maxOccurs="1"/>
			  <!-- added 01-09-2016 -->
			  <xs:element type="xs:string" name="Traccion" minOccurs="0" maxOccurs="1"/>
			  <!-- added 01-09-2016 -->
			  <xs:element type="xs:string" name="Transmision" minOccurs="0" maxOccurs="1"/>
			  <!-- added 01-09-2016 -->
			  <xs:element type="xs:string" name="Uso" minOccurs="0" maxOccurs="1"/>
			  <!-- added 01-09-2016 -->
			  <xs:element type="xs:string" name="Cilindros" minOccurs="0" maxOccurs="1"/>
			  <!-- added 01-09-2016 -->
			  <xs:element type="xs:string" name="Kilometraje" minOccurs="0" maxOccurs="1"/>
			  <!-- added 01-09-2016 -->
			  <xs:element type="xs:string" name="Pasajeros" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="Placa" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="Color" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="ValorVehiculo" minOccurs="0" maxOccurs="1"/>
			  <!-- added 01-09-2016 -->
			  <xs:element type="xs:string" name="NotasInspeccion" minOccurs="0" maxOccurs="1"/>
			  
              <xs:element type="xs:string" name="VehicleType" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Plan" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="EnsuredAmount" minOccurs="0" maxOccurs="1"/>
              
			  <xs:element type="xs:integer" name="Quantity" minOccurs ="0" maxOccurs ="1"></xs:element>
					<!-- Cantidad de un vehiculo en particular (Para Flotilla ) -->
					
					<xs:element type="xs:decimal" name="VehiclePrime" minOccurs ="0" maxOccurs ="1"></xs:element>
					<!-- Prima del vehiculo (Prima multiplicado por cantidad de vehiculo Para Flotilla ) -->
			  
			  
			  <xs:element name="ThirdDamagesCoverages" maxOccurs="unbounded">
			   <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Description" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="Limit" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
			  
			  
			  <xs:element type="xs:decimal" name="ThirdDamagesPrime" minOccurs="0" maxOccurs="1"/>
			  
			  <xs:element name="SelfDamagesCoverages" maxOccurs="unbounded">
			  <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Description" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="Limit" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="Deducible" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:decimal" name="MinimumDeductible" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
			  
			  <xs:element type="xs:decimal" name="SelfDamagesPrime" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="Deducible" minOccurs="0" maxOccurs="1"/>
			  
			  <xs:element name="Additionals" maxOccurs="unbounded">
			  <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Description" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="Limit" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
			  </xs:element>
			  
			  <xs:element type="xs:decimal" name="AdditionalsPrime" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:decimal" name="TotalVehiclePrime" minOccurs="0" maxOccurs="1"/>
			  
			  <xs:element name="Piezas" maxOccurs="unbounded">
			  <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Description" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Estado" minOccurs="0" maxOccurs="1"/>
              <!-- added 01-09-2016 -->
			  <xs:element type="xs:string" name="Tipo" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
          </xs:element>
			  
			</xs:sequence>
          </xs:complexType>
			</xs:element>
		
            <!-- ----------PaymentOptions-----  -->
		
		 <xs:element name="PaymentOptions" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
               <xs:sequence>
              <xs:element type="xs:integer" name="PaymentType" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="InitialPayment" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="NextPay" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:decimal" name="TotalPayment" minOccurs="0" maxOccurs="1"/>
			  </xs:sequence>
          </xs:complexType>	
			 </xs:element>
		
		
		
		
		
			  <xs:element name="PrimeResume" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
               <xs:sequence>
              <xs:element type="xs:decimal" name="TotalAnualPrime" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="Taxes" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:decimal" name="Discount" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:decimal" name="PrimeDiscount" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:decimal" name="TotalPayment" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>	
			 </xs:element>
			 
			 
			 
			 <xs:element type="xs:string" name="Certificado" minOccurs="0" maxOccurs="1"></xs:element>		
			 <xs:element type="xs:decimal" name="ValorCedido" minOccurs="0" maxOccurs="1"></xs:element>		
			 
			</xs:sequence>
          </xs:complexType>
        </xs:element>
		
		< <xs:element name="Contract" minOccurs="0" maxOccurs ="1">
			<xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LoanNumber" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CustomerName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Citizenship" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CivilStatus" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Id" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Address1" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Address2" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CompanyRepresentative" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CompanyRepCitizenship" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CompanyRepId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="QuotationNumber" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="InsuranceCompany" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="LoanAmountString" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="NumberOfPaymentString" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PaymentAmountString" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="LoanRateString" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ContractDateString" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="CustomerNationality" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="CustomerCountry" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="CardType" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:long" name="CardNumber" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="CardExpirationDate" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="CardIssuingCompany" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>		
		
		<xs:element name="Loan" minOccurs="0" maxOccurs ="1">
			<xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Account" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Id" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Status" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="AccountName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Client" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="FoundsSource" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="FundsDestination" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CreditFacility" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Comite" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PaymentMethod" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="PaymentPeriod" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="RequestedAmount" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="ApprovedAmount" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="ReleasedAmount" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="CapitalReturn" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:date" name="LastCut" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="Interest" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="Comission" minOccurs="0" maxOccurs="1"/>			  
			  <xs:element type="xs:decimal" name="DelayFee" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="FeeAmount" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Frequency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:date" name="RequestDate" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:date" name="ApprovementDate" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:date" name="ReleasedDate" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:date" name="ExpirationDate" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:date" name="NextPaymentDate" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="TotalCapital" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="TotalInterests" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="TotalComissions" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="TotalSpends" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="TotalAmount" minOccurs="0" maxOccurs="1"/>
              <xs:element type="Fee" name="Fee" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
		
		<xs:element name="Fee" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
               <xs:sequence>
              <xs:element type="xs:integer" name="Number" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:date" name="Date" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:decimal" name="Amount" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:decimal" name="Capital" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:decimal" name="Interests" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:decimal" name="Comission" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:decimal" name="Spends" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:decimal" name="Total" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>	
			 </xs:element>
			 
		
		</xs:sequence>
    </xs:complexType>
	
	
		 < <xs:element name="PolicyChange" minOccurs="0" maxOccurs ="unbounded">
			<xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ChangeType" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ChangeDescription" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ChangeDetail" minOccurs="0" maxOccurs="1"/>
             </xs:sequence>
          </xs:complexType>
        </xs:element>	
	
	
	
  </xs:element>
</xs:schema>