SqlScript/PUNTO DE VENTA/trunk/STL.POS.AgentProxy/Service References/AgentService/AgentService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Global.Agent.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Global.Agent.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomException" nillable="true" type="tns:CustomException" />
</xs:schema>