SistemaFacturacion/SellersManagement/SellersManagement/Connected Services/SysflexAgentServiceReference/AgentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sysflex.Agent.Service_New" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sysflex.Agent.Service_New" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AgentModel_C">
    <xs:sequence>
      <xs:element name="_x003C_Active_Date_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Address_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Agent_Code_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Agent_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Agent_Status_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Automatic_Cancellation_Days_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_BL_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Bank_Account_Number_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Bank_Account_Type_Id_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_Canal_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CellPhone_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Company_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Contact_Notes_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DirectoryId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Email_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_First_Lastname_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_First_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_History_Notes_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HomePhone_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Identity_Type_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Licence_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Middle_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OfficeIDGlobal_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_OficinaNombreGlobal_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Payment_Type_Id_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_Second_Lastname_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Ubication_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_WorkPhone_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_dateBirth_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_newAgentCode_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_newSourceID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_supervisorCode_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentModel_C" nillable="true" type="tns:AgentModel_C" />
</xs:schema>