SistemaFacturacion/SellersManagement/SellersManagement/Connected Services/SysflexAgentServiceReference/AgentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AgentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="secureHttpsBinding_SysflexAgentSevice_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://devsysflexagentservice.statetrustlife.com/AgentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://devsysflexagentservice.statetrustlife.com/AgentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://devsysflexagentservice.statetrustlife.com/AgentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sysflex.Agent.Service_New" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAgentService_GetAgentDataForC_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentDataForC" />
  </wsdl:message>
  <wsdl:message name="IAgentService_GetAgentDataForC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentDataForCResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentService_setAgentDataOnSysFlex_InputMessage">
    <wsdl:part name="parameters" element="tns:setAgentDataOnSysFlex" />
  </wsdl:message>
  <wsdl:message name="IAgentService_setAgentDataOnSysFlex_OutputMessage">
    <wsdl:part name="parameters" element="tns:setAgentDataOnSysFlexResponse" />
  </wsdl:message>
  <wsdl:portType name="IAgentService">
    <wsdl:operation name="GetAgentDataForC">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentService/GetAgentDataForC" message="tns:IAgentService_GetAgentDataForC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentService/GetAgentDataForCResponse" message="tns:IAgentService_GetAgentDataForC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setAgentDataOnSysFlex">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentService/setAgentDataOnSysFlex" message="tns:IAgentService_setAgentDataOnSysFlex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentService/setAgentDataOnSysFlexResponse" message="tns:IAgentService_setAgentDataOnSysFlex_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NormalHttpBinding_SysflexAgentSevice" type="tns:IAgentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAgentDataForC">
      <soap:operation soapAction="http://tempuri.org/IAgentService/GetAgentDataForC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setAgentDataOnSysFlex">
      <soap:operation soapAction="http://tempuri.org/IAgentService/setAgentDataOnSysFlex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="secureHttpsBinding_SysflexAgentSevice" type="tns:IAgentService">
    <wsp:PolicyReference URI="#secureHttpsBinding_SysflexAgentSevice_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAgentDataForC">
      <soap:operation soapAction="http://tempuri.org/IAgentService/GetAgentDataForC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setAgentDataOnSysFlex">
      <soap:operation soapAction="http://tempuri.org/IAgentService/setAgentDataOnSysFlex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgentService">
    <wsdl:port name="NormalHttpBinding_SysflexAgentSevice" binding="tns:NormalHttpBinding_SysflexAgentSevice">
      <soap:address location="http://devsysflexagentservice.statetrustlife.com/AgentService.svc/AgentService.svc" />
    </wsdl:port>
    <wsdl:port name="secureHttpsBinding_SysflexAgentSevice" binding="tns:secureHttpsBinding_SysflexAgentSevice">
      <soap:address location="https://devsysflexagentservice.statetrustlife.com/AgentService.svc/AgentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>