SqlScript/branch.underwriting/WEB.NewBusiness/Service References/wsSearchXpert/Search1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Search" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ISearch_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://wssearchxpert.dev.atlantica.local/Search.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://wssearchxpert.dev.atlantica.local/Search.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://wssearchxpert.dev.atlantica.local/Search.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/STG.BlackList.Service" />
      <xsd:import schemaLocation="https://wssearchxpert.dev.atlantica.local/Search.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/STG.BlackList.Entity.Enums" />
      <xsd:import schemaLocation="https://wssearchxpert.dev.atlantica.local/Search.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/STG.BlackList.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISearch_SearchOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchOnline" />
  </wsdl:message>
  <wsdl:message name="ISearch_SearchOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="ISearch_QuerySearchOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:QuerySearchOnline" />
  </wsdl:message>
  <wsdl:message name="ISearch_QuerySearchOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuerySearchOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="ISearch_DeleteSearchOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSearchOnline" />
  </wsdl:message>
  <wsdl:message name="ISearch_DeleteSearchOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSearchOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="ISearch_SendNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendNotification" />
  </wsdl:message>
  <wsdl:message name="ISearch_SendNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="ISearch_SearchOnlineBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchOnlineBatch" />
  </wsdl:message>
  <wsdl:message name="ISearch_SearchOnlineBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchOnlineBatchResponse" />
  </wsdl:message>
  <wsdl:message name="ISearch_QuerySearchOffline_InputMessage">
    <wsdl:part name="parameters" element="tns:QuerySearchOffline" />
  </wsdl:message>
  <wsdl:message name="ISearch_QuerySearchOffline_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuerySearchOfflineResponse" />
  </wsdl:message>
  <wsdl:message name="ISearch_ReasignSourceID_InputMessage">
    <wsdl:part name="parameters" element="tns:ReasignSourceID" />
  </wsdl:message>
  <wsdl:message name="ISearch_ReasignSourceID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReasignSourceIDResponse" />
  </wsdl:message>
  <wsdl:portType name="ISearch">
    <wsdl:operation name="SearchOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearch/SearchOnline" message="tns:ISearch_SearchOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearch/SearchOnlineResponse" message="tns:ISearch_SearchOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuerySearchOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearch/QuerySearchOnline" message="tns:ISearch_QuerySearchOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearch/QuerySearchOnlineResponse" message="tns:ISearch_QuerySearchOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSearchOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearch/DeleteSearchOnline" message="tns:ISearch_DeleteSearchOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearch/DeleteSearchOnlineResponse" message="tns:ISearch_DeleteSearchOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearch/SendNotification" message="tns:ISearch_SendNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearch/SendNotificationResponse" message="tns:ISearch_SendNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchOnlineBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearch/SearchOnlineBatch" message="tns:ISearch_SearchOnlineBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearch/SearchOnlineBatchResponse" message="tns:ISearch_SearchOnlineBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuerySearchOffline">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearch/QuerySearchOffline" message="tns:ISearch_QuerySearchOffline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearch/QuerySearchOfflineResponse" message="tns:ISearch_QuerySearchOffline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReasignSourceID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearch/ReasignSourceID" message="tns:ISearch_ReasignSourceID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearch/ReasignSourceIDResponse" message="tns:ISearch_ReasignSourceID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISearch" type="tns:ISearch">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchOnline">
      <soap:operation soapAction="http://tempuri.org/ISearch/SearchOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySearchOnline">
      <soap:operation soapAction="http://tempuri.org/ISearch/QuerySearchOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSearchOnline">
      <soap:operation soapAction="http://tempuri.org/ISearch/DeleteSearchOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNotification">
      <soap:operation soapAction="http://tempuri.org/ISearch/SendNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOnlineBatch">
      <soap:operation soapAction="http://tempuri.org/ISearch/SearchOnlineBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySearchOffline">
      <soap:operation soapAction="http://tempuri.org/ISearch/QuerySearchOffline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReasignSourceID">
      <soap:operation soapAction="http://tempuri.org/ISearch/ReasignSourceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ISearch" type="tns:ISearch">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ISearch_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchOnline">
      <soap:operation soapAction="http://tempuri.org/ISearch/SearchOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySearchOnline">
      <soap:operation soapAction="http://tempuri.org/ISearch/QuerySearchOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSearchOnline">
      <soap:operation soapAction="http://tempuri.org/ISearch/DeleteSearchOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNotification">
      <soap:operation soapAction="http://tempuri.org/ISearch/SendNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOnlineBatch">
      <soap:operation soapAction="http://tempuri.org/ISearch/SearchOnlineBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySearchOffline">
      <soap:operation soapAction="http://tempuri.org/ISearch/QuerySearchOffline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReasignSourceID">
      <soap:operation soapAction="http://tempuri.org/ISearch/ReasignSourceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Search">
    <wsdl:port name="BasicHttpBinding_ISearch" binding="tns:BasicHttpBinding_ISearch">
      <soap:address location="http://wssearchxpert.dev.atlantica.local/Search.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ISearch" binding="tns:BasicHttpsBinding_ISearch">
      <soap:address location="https://wssearchxpert.dev.atlantica.local/Search.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>