prog/Pos_Site_Diveria/trunk/STL.POS.THProxy/Connected Services/NewTHService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://atl-dev02.dev.atlantica.local/ThunderheadWSWrapper/ThunderheadWSWrapper.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://atl-dev02.dev.atlantica.local/ThunderheadWSWrapper/ThunderheadWSWrapper.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://atl-dev02.dev.atlantica.local/ThunderheadWSWrapper/ThunderheadWSWrapper.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ThunderheadWSWrapper" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFService_executePreview_InputMessage">
    <wsdl:part name="parameters" element="tns:executePreview" />
  </wsdl:message>
  <wsdl:message name="IWCFService_executePreview_OutputMessage">
    <wsdl:part name="parameters" element="tns:executePreviewResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_submitBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:submitBatch" />
  </wsdl:message>
  <wsdl:message name="IWCFService_submitBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:submitBatchResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFService">
    <wsdl:operation name="executePreview">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/executePreview" message="tns:IWCFService_executePreview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/executePreviewResponse" message="tns:IWCFService_executePreview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="submitBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/submitBatch" message="tns:IWCFService_submitBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/submitBatchResponse" message="tns:IWCFService_submitBatch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFService" type="tns:IWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="executePreview">
      <soap:operation soapAction="http://tempuri.org/IWCFService/executePreview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitBatch">
      <soap:operation soapAction="http://tempuri.org/IWCFService/submitBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IWCFService" binding="tns:BasicHttpBinding_IWCFService">
      <soap:address location="http://atl-dev02.dev.atlantica.local/ThunderheadWSWrapper/ThunderheadWSWrapper.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>