prog/CollectorsModule/CollectorsModule/Web References/GPPayments/GPPayments.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GPPayments" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.16.199.35/CSToGP/GPPayments.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.16.199.35/CSToGP/GPPayments.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.16.199.35/CSToGP/GPPayments.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CSToGP" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGPPayments_NewCashPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:NewCashPayment" />
  </wsdl:message>
  <wsdl:message name="IGPPayments_NewCashPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewCashPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IGPPayments_NewCheckPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:NewCheckPayment" />
  </wsdl:message>
  <wsdl:message name="IGPPayments_NewCheckPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewCheckPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IGPPayments_NewACHPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:NewACHPayment" />
  </wsdl:message>
  <wsdl:message name="IGPPayments_NewACHPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewACHPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IGPPayments_NewCreditCardPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:NewCreditCardPayment" />
  </wsdl:message>
  <wsdl:message name="IGPPayments_NewCreditCardPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewCreditCardPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IGPPayments_NewSTBPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:NewSTBPayment" />
  </wsdl:message>
  <wsdl:message name="IGPPayments_NewSTBPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewSTBPaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="IGPPayments">
    <wsdl:operation name="NewCashPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPPayments/NewCashPayment" message="tns:IGPPayments_NewCashPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPPayments/NewCashPaymentResponse" message="tns:IGPPayments_NewCashPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewCheckPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPPayments/NewCheckPayment" message="tns:IGPPayments_NewCheckPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPPayments/NewCheckPaymentResponse" message="tns:IGPPayments_NewCheckPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewACHPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPPayments/NewACHPayment" message="tns:IGPPayments_NewACHPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPPayments/NewACHPaymentResponse" message="tns:IGPPayments_NewACHPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewCreditCardPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPPayments/NewCreditCardPayment" message="tns:IGPPayments_NewCreditCardPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPPayments/NewCreditCardPaymentResponse" message="tns:IGPPayments_NewCreditCardPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewSTBPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPPayments/NewSTBPayment" message="tns:IGPPayments_NewSTBPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPPayments/NewSTBPaymentResponse" message="tns:IGPPayments_NewSTBPayment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGPPayments" type="tns:IGPPayments">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewCashPayment">
      <soap:operation soapAction="http://tempuri.org/IGPPayments/NewCashPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewCheckPayment">
      <soap:operation soapAction="http://tempuri.org/IGPPayments/NewCheckPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewACHPayment">
      <soap:operation soapAction="http://tempuri.org/IGPPayments/NewACHPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewCreditCardPayment">
      <soap:operation soapAction="http://tempuri.org/IGPPayments/NewCreditCardPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewSTBPayment">
      <soap:operation soapAction="http://tempuri.org/IGPPayments/NewSTBPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GPPayments">
    <wsdl:port name="BasicHttpBinding_IGPPayments" binding="tns:BasicHttpBinding_IGPPayments">
      <soap:address location="http://172.16.199.35/CSToGP/GPPayments.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>