SqlScript/branch.underwriting/WEB.NewBusiness/Service References/ServicesApi.ContactService/ServicesApi2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://devservicesapiunderwriting.statetrustlife.com/ServicesApi.UnderWriting.Contact.ContactService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" />
  <xs:element name="SetContactInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" minOccurs="0" name="SetContactInformationResult" nillable="true" type="q1:ReturnMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactAllInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactAllInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" minOccurs="0" name="SetContactAllInformationResult" nillable="true" type="q2:ReturnMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contactId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" minOccurs="0" name="SetContactEmailResult" nillable="true" type="q3:ReturnMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contactId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" minOccurs="0" name="SetContactPhoneResult" nillable="true" type="q4:ReturnMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactIdentification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contactId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactIdentificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" minOccurs="0" name="SetContactIdentificationResult" nillable="true" type="q5:ReturnMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactInformationWithCustomerNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactInformationWithCustomerNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" minOccurs="0" name="SetContactInformationWithCustomerNoResult" nillable="true" type="q6:ReturnMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactAllInformationWithCustomerNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactAllInformationWithCustomerNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" minOccurs="0" name="SetContactAllInformationWithCustomerNoResult" nillable="true" type="q7:ReturnMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactEmailWithCustomerNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactEmailWithCustomerNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" minOccurs="0" name="SetContactEmailWithCustomerNoResult" nillable="true" type="q8:ReturnMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactPhoneWithCustomerNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactPhoneWithCustomerNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" minOccurs="0" name="SetContactPhoneWithCustomerNoResult" nillable="true" type="q9:ReturnMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactIdentificationWithCustomerNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactIdentificationWithCustomerNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" minOccurs="0" name="SetContactIdentificationWithCustomerNoResult" nillable="true" type="q10:ReturnMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactEmailJuridico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Agent_Legal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactEmailJuridicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" minOccurs="0" name="SetContactEmailJuridicoResult" nillable="true" type="q11:ReturnMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactIdentificationJuridico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Agent_Legal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactIdentificationJuridicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" minOccurs="0" name="SetContactIdentificationJuridicoResult" nillable="true" type="q12:ReturnMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactIdentificationJuridicoWithCustomerNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Agent_Legal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactIdentificationJuridicoWithCustomerNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" minOccurs="0" name="SetContactIdentificationJuridicoWithCustomerNoResult" nillable="true" type="q13:ReturnMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactEmailJuridicoWithCustomerNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corpId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Agent_Legal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContactEmailJuridicoWithCustomerNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServicesApi.UnderWriting.Common.Model" minOccurs="0" name="SetContactEmailJuridicoWithCustomerNoResult" nillable="true" type="q14:ReturnMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>