prog/CollectorsModule/Testing/Service References/ktBridge/Bridge1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/STG.DLL.KwikTag.Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/STG.DLL.KwikTag.Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEstructure.Tags">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Estructure.Tags" nillable="true" type="tns:Estructure.Tags" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstructure.Tags" nillable="true" type="tns:ArrayOfEstructure.Tags" />
  <xs:complexType name="Estructure.Tags">
    <xs:sequence>
      <xs:element minOccurs="0" name="Property" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estructure.Tags" nillable="true" type="tns:Estructure.Tags" />
  <xs:complexType name="Estructure.Parameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="apiURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="callingID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="drawer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="siteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estructure.Parameters" nillable="true" type="tns:Estructure.Parameters" />
</xs:schema>