SqlScript/branch.underwriting/WEB.NewBusiness/Service References/oSysFlexService/SysFlexPolicyService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SysFlexPolicyService.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SysFlexPolicyService.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devsysflexpolicyservice.statetrustlife.com/SysFlexPolicyService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Global.Common.Utils" />
  <xs:complexType name="Policy.Vehicle.Key">
    <xs:sequence>
      <xs:element name="Chassis" nillable="true" type="xs:string" />
      <xs:element name="Registry" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.Vehicle.Key" nillable="true" type="tns:Policy.Vehicle.Key" />
  <xs:complexType name="Policy.RateKey">
    <xs:sequence>
      <xs:element name="AnoVehiculo" nillable="true" type="xs:int" />
      <xs:element name="CoverageID" nillable="true" type="xs:int" />
      <xs:element name="FechaFin" nillable="true" type="xs:dateTime" />
      <xs:element name="FechaInicio" nillable="true" type="xs:dateTime" />
      <xs:element name="PorcientoCobertura" nillable="true" type="xs:int" />
      <xs:element name="RamoID" nillable="true" type="xs:int" />
      <xs:element name="RecargoEdad" nillable="true" type="xs:string" />
      <xs:element name="RecargosID" nillable="true" type="xs:string" />
      <xs:element name="RecargosIDDeducible" nillable="true" type="xs:string" />
      <xs:element name="RecargosIDEstaciona" nillable="true" type="xs:string" />
      <xs:element name="RecargosSexo" nillable="true" type="xs:string" />
      <xs:element name="ServicesID" nillable="true" type="xs:string" />
      <xs:element name="SumaAsegurada" nillable="true" type="xs:decimal" />
      <xs:element name="TarifaLeyID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.RateKey" nillable="true" type="tns:Policy.RateKey" />
  <xs:complexType name="Policy.Coverage.Key">
    <xs:sequence>
      <xs:element name="CoverageID" type="xs:int" />
      <xs:element name="Indicador" type="xs:int" />
      <xs:element name="Ramo" type="xs:int" />
      <xs:element name="VehiculoMonto" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.Coverage.Key" nillable="true" type="tns:Policy.Coverage.Key" />
  <xs:complexType name="Policy.SexoEdadKeyParameter">
    <xs:sequence>
      <xs:element name="Edad" nillable="true" type="xs:string" />
      <xs:element name="RamoID" type="xs:int" />
      <xs:element name="Sexo" nillable="true" type="xs:string" />
      <xs:element name="subramo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.SexoEdadKeyParameter" nillable="true" type="tns:Policy.SexoEdadKeyParameter" />
  <xs:complexType name="Policy.inclusion.vehicle.DetailMov.parameter">
    <xs:sequence>
      <xs:element name="anoVehiculo" nillable="true" type="xs:string" />
      <xs:element name="beneficiarioEndoso" nillable="true" type="xs:string" />
      <xs:element name="cantidadMeses" nillable="true" type="xs:int" />
      <xs:element name="capacidad" nillable="true" type="xs:string" />
      <xs:element name="categoria" nillable="true" type="xs:string" />
      <xs:element name="chasis" nillable="true" type="xs:string" />
      <xs:element name="codigoTarifa" nillable="true" type="xs:int" />
      <xs:element name="color" nillable="true" type="xs:string" />
      <xs:element name="compania" nillable="true" type="xs:int" />
      <xs:element name="correoContactoBeneficiarioEndoso" nillable="true" type="xs:string" />
      <xs:element name="cotizacion" nillable="true" type="xs:decimal" />
      <xs:element name="deducible" nillable="true" type="xs:string" />
      <xs:element name="estacionaEn" nillable="true" type="xs:string" />
      <xs:element name="estatus" nillable="true" type="xs:string" />
      <xs:element name="fechaFin" nillable="true" type="xs:dateTime" />
      <xs:element name="fechaInicio" nillable="true" type="xs:dateTime" />
      <xs:element name="formadePago" nillable="true" type="xs:string" />
      <xs:element name="idAnoVehiculo" nillable="true" type="xs:string" />
      <xs:element name="idCapacidad" nillable="true" type="xs:string" />
      <xs:element name="idColor" nillable="true" type="xs:string" />
      <xs:element name="idEstacionaEn" nillable="true" type="xs:string" />
      <xs:element name="idMarcaVehiculo" nillable="true" type="xs:string" />
      <xs:element name="idModeloVehiculo" nillable="true" type="xs:string" />
      <xs:element name="idTipoCombustible" nillable="true" type="xs:string" />
      <xs:element name="idTipoVehiculo" nillable="true" type="xs:string" />
      <xs:element name="idUso" nillable="true" type="xs:string" />
      <xs:element name="idVersion" nillable="true" type="xs:string" />
      <xs:element name="iddeducible" nillable="true" type="xs:string" />
      <xs:element name="kilomatraje" nillable="true" type="xs:int" />
      <xs:element name="licenciaExtranjera" nillable="true" type="xs:boolean" />
      <xs:element name="marcaVehiculo" nillable="true" type="xs:string" />
      <xs:element name="modeloVehiculo" nillable="true" type="xs:string" />
      <xs:element name="montoAsegurado" nillable="true" type="xs:decimal" />
      <xs:element name="montoDescuento" nillable="true" type="xs:decimal" />
      <xs:element name="montoImpuesto" nillable="true" type="xs:decimal" />
      <xs:element name="montoProrrata" nillable="true" type="xs:decimal" />
      <xs:element name="montoRecargo" nillable="true" type="xs:decimal" />
      <xs:element name="neto" nillable="true" type="xs:decimal" />
      <xs:element name="noFormulario" nillable="true" type="xs:string" />
      <xs:element name="nombreContactoBeneficiarioEndoso" nillable="true" type="xs:string" />
      <xs:element name="placa" nillable="true" type="xs:string" />
      <xs:element name="porcDescuento" nillable="true" type="xs:decimal" />
      <xs:element name="porcImpuesto" nillable="true" type="xs:decimal" />
      <xs:element name="porcRecargo" nillable="true" type="xs:decimal" />
      <xs:element name="porciendoCobertura" nillable="true" type="xs:string" />
      <xs:element name="porcientoRecargoVentas" nillable="true" type="xs:decimal" />
      <xs:element name="primaBruta" nillable="true" type="xs:decimal" />
      <xs:element name="ramo" nillable="true" type="xs:int" />
      <xs:element name="renovacionAutomatica" nillable="true" type="xs:string" />
      <xs:element name="rncBeneficiarioEndoso" nillable="true" type="xs:string" />
      <xs:element name="secuencia" nillable="true" type="xs:int" />
      <xs:element name="secuenciaMov" nillable="true" type="xs:int" />
      <xs:element name="sexoEdad" nillable="true" type="xs:string" />
      <xs:element name="subRamo" nillable="true" type="xs:int" />
      <xs:element name="tasa" nillable="true" type="xs:decimal" />
      <xs:element name="telefonoContactoBeneficiarioEndoso" nillable="true" type="xs:string" />
      <xs:element name="tipoCombustible" nillable="true" type="xs:string" />
      <xs:element name="tipoVehiculo" nillable="true" type="xs:string" />
      <xs:element name="uso" nillable="true" type="xs:string" />
      <xs:element name="usuario" nillable="true" type="xs:string" />
      <xs:element name="valorEndoso" nillable="true" type="xs:decimal" />
      <xs:element name="version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.inclusion.vehicle.DetailMov.parameter" nillable="true" type="tns:Policy.inclusion.vehicle.DetailMov.parameter" />
  <xs:complexType name="Policy.inclusion.vehicle.Coverage.parameter">
    <xs:sequence>
      <xs:element name="coaseguro" nillable="true" type="xs:decimal" />
      <xs:element name="compania" nillable="true" type="xs:int" />
      <xs:element name="cotizacion" nillable="true" type="xs:decimal" />
      <xs:element name="deducible" nillable="true" type="xs:decimal" />
      <xs:element name="limite" nillable="true" type="xs:string" />
      <xs:element name="minDeducible" nillable="true" type="xs:decimal" />
      <xs:element name="prima" nillable="true" type="xs:decimal" />
      <xs:element name="secuencia" nillable="true" type="xs:int" />
      <xs:element name="secuenciaCot" nillable="true" type="xs:int" />
      <xs:element name="secuenciaMov" nillable="true" type="xs:int" />
      <xs:element name="tasa" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.inclusion.vehicle.Coverage.parameter" nillable="true" type="tns:Policy.inclusion.vehicle.Coverage.parameter" />
  <xs:complexType name="Policy.QuotationKey">
    <xs:sequence>
      <xs:element name="Apellidos" nillable="true" type="xs:string" />
      <xs:element name="Cedula" nillable="true" type="xs:string" />
      <xs:element name="Celular" nillable="true" type="xs:string" />
      <xs:element name="CodMoneda" type="xs:int" />
      <xs:element name="Compania" type="xs:int" />
      <xs:element name="Cotizacion" type="xs:decimal" />
      <xs:element name="Direccion" nillable="true" type="xs:string" />
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="FechaExIdLicencia" nillable="true" type="xs:dateTime" />
      <xs:element name="FechaNacimiento" type="xs:dateTime" />
      <xs:element name="Hora" nillable="true" type="xs:string" />
      <xs:element name="Intermediario" type="xs:int" />
      <xs:element name="Kilometraje" nillable="true" type="xs:int" />
      <xs:element name="Nacionalidad" nillable="true" type="xs:string" />
      <xs:element name="Ncf" type="xs:int" />
      <xs:element name="Nombres" nillable="true" type="xs:string" />
      <xs:element name="Oficina" type="xs:int" />
      <xs:element name="PrimaTotal" type="xs:decimal" />
      <xs:element name="QuotationNumber" nillable="true" type="xs:string" />
      <xs:element name="Ramo" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Global.Common.Utils" name="Sexo" type="q1:Utility.Gender" />
      <xs:element name="SubRamo" type="xs:int" />
      <xs:element name="SumaAsegurada" type="xs:decimal" />
      <xs:element name="TasaMoneda" type="xs:decimal" />
      <xs:element name="TelefonoCasa" nillable="true" type="xs:string" />
      <xs:element name="TelefonoTrabajo" nillable="true" type="xs:string" />
      <xs:element name="TipoCedula" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Global.Common.Utils" name="TipoNCF" type="q2:Utility.NCFType" />
      <xs:element name="Ubicacion" nillable="true" type="xs:int" />
      <xs:element name="Usuario" nillable="true" type="xs:string" />
      <xs:element name="cargoTrabajo" nillable="true" type="xs:string" />
      <xs:element name="claseCliente" nillable="true" type="xs:string" />
      <xs:element name="estadoCivil" nillable="true" type="xs:string" />
      <xs:element name="ingresoSalarial" nillable="true" type="xs:decimal" />
      <xs:element name="lugarTrabajo" nillable="true" type="xs:string" />
      <xs:element name="ocupacion" nillable="true" type="xs:string" />
      <xs:element name="rnc1" nillable="true" type="xs:string" />
      <xs:element name="rnc2" nillable="true" type="xs:string" />
      <xs:element name="tipoRnc1" nillable="true" type="xs:int" />
      <xs:element name="tipoRnc2" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationKey" nillable="true" type="tns:Policy.QuotationKey" />
  <xs:complexType name="Policy.QuotationDetailKey">
    <xs:sequence>
      <xs:element name="AnoVehiculo" nillable="true" type="xs:string" />
      <xs:element name="BeneficiarioEndoso" nillable="true" type="xs:string" />
      <xs:element name="Chasis" nillable="true" type="xs:string" />
      <xs:element name="Cilindro" nillable="true" type="xs:string" />
      <xs:element name="Color" nillable="true" type="xs:string" />
      <xs:element name="Compania" type="xs:int" />
      <xs:element name="CorreoContactoBeneficiarioEndoso" nillable="true" type="xs:string" />
      <xs:element name="Cotizacion" type="xs:decimal" />
      <xs:element name="EstacionaEn" nillable="true" type="xs:string" />
      <xs:element name="FechaFin" type="xs:dateTime" />
      <xs:element name="FechaInicio" type="xs:dateTime" />
      <xs:element name="Items" type="xs:int" />
      <xs:element name="Kilometraje" nillable="true" type="xs:int" />
      <xs:element name="MarcaVehiculo" nillable="true" type="xs:string" />
      <xs:element name="ModeloVehiculo" nillable="true" type="xs:string" />
      <xs:element name="MontoDescuento" type="xs:decimal" />
      <xs:element name="MontoImpuesto" type="xs:decimal" />
      <xs:element name="MontoRecargo" type="xs:decimal" />
      <xs:element name="NombreContactoBeneficiarioEndoso" nillable="true" type="xs:string" />
      <xs:element name="Pasajeros" type="xs:int" />
      <xs:element name="Placa" nillable="true" type="xs:string" />
      <xs:element name="PorcDescuento" type="xs:decimal" />
      <xs:element name="PorcImpuesto" type="xs:decimal" />
      <xs:element name="PorcRecargo" type="xs:decimal" />
      <xs:element name="PorciendoCobertura" nillable="true" type="xs:string" />
      <xs:element name="PrimaBruta" type="xs:decimal" />
      <xs:element name="PrimaNeta" type="xs:decimal" />
      <xs:element name="Ramo" type="xs:int" />
      <xs:element name="RncBeneficiarioEndoso" nillable="true" type="xs:string" />
      <xs:element name="SexoEdad" nillable="true" type="xs:string" />
      <xs:element name="SubRamo" type="xs:int" />
      <xs:element name="SumaAsegurada" type="xs:decimal" />
      <xs:element name="TarifaLeyID" type="xs:int" />
      <xs:element name="Tasa" type="xs:decimal" />
      <xs:element name="TelefonoContactoBeneficiarioEndoso" nillable="true" type="xs:string" />
      <xs:element name="TipoVehiculo" nillable="true" type="xs:string" />
      <xs:element name="Uso" nillable="true" type="xs:string" />
      <xs:element name="Usuario" nillable="true" type="xs:string" />
      <xs:element name="ValorEndoso" nillable="true" type="xs:decimal" />
      <xs:element name="deducible" nillable="true" type="xs:string" />
      <xs:element name="valorvehiculo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationDetailKey" nillable="true" type="tns:Policy.QuotationDetailKey" />
  <xs:complexType name="Policy.QuotationCoverageKey">
    <xs:sequence>
      <xs:element name="CoberturaID" type="xs:int" />
      <xs:element name="Compania" type="xs:int" />
      <xs:element name="Cotizacion" type="xs:decimal" />
      <xs:element name="Items" type="xs:int" />
      <xs:element name="Limite" nillable="true" type="xs:string" />
      <xs:element name="coaseguro" nillable="true" type="xs:decimal" />
      <xs:element name="deducible" nillable="true" type="xs:decimal" />
      <xs:element name="minDeducible" nillable="true" type="xs:decimal" />
      <xs:element name="prima" nillable="true" type="xs:decimal" />
      <xs:element name="tasa" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationCoverageKey" nillable="true" type="tns:Policy.QuotationCoverageKey" />
  <xs:complexType name="Policy.QuotationCoverageEmitionKey">
    <xs:sequence>
      <xs:element name="CodigoConcepto" type="xs:int" />
      <xs:element name="Compania" type="xs:int" />
      <xs:element name="Cotizacion" type="xs:decimal" />
      <xs:element name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationCoverageEmitionKey" nillable="true" type="tns:Policy.QuotationCoverageEmitionKey" />
  <xs:complexType name="Policy.PaymentAgreement.Key">
    <xs:sequence>
      <xs:element name="cantidadCuotas" type="xs:int" />
      <xs:element name="compania" type="xs:int" />
      <xs:element name="cotizacion" type="xs:decimal" />
      <xs:element name="inicial" type="xs:decimal" />
      <xs:element name="sistema" nillable="true" type="xs:string" />
      <xs:element name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.PaymentAgreement.Key" nillable="true" type="tns:Policy.PaymentAgreement.Key" />
  <xs:complexType name="Policy.SysFlexCotizacionDetail.Key">
    <xs:sequence>
      <xs:element name="LicenciaExtranjera" type="xs:boolean" />
      <xs:element name="PorcientoRecargoVentas" type="xs:decimal" />
      <xs:element name="anoVehiculo" nillable="true" type="xs:string" />
      <xs:element name="beneficiarioEndoso" nillable="true" type="xs:string" />
      <xs:element name="cantidadMeses" nillable="true" type="xs:int" />
      <xs:element name="cantidadMesesAFinanciar" nillable="true" type="xs:int" />
      <xs:element name="capacidad" nillable="true" type="xs:string" />
      <xs:element name="categoria" nillable="true" type="xs:string" />
      <xs:element name="chasis" nillable="true" type="xs:string" />
      <xs:element name="codigoTarifa" nillable="true" type="xs:int" />
      <xs:element name="color" nillable="true" type="xs:string" />
      <xs:element name="compania" nillable="true" type="xs:int" />
      <xs:element name="correoContactoBeneficiarioEndoso" nillable="true" type="xs:string" />
      <xs:element name="cotizacion" nillable="true" type="xs:decimal" />
      <xs:element name="deducible" nillable="true" type="xs:string" />
      <xs:element name="estacionaEn" nillable="true" type="xs:string" />
      <xs:element name="estatus" nillable="true" type="xs:string" />
      <xs:element name="fechaFin" nillable="true" type="xs:dateTime" />
      <xs:element name="fechaInicio" nillable="true" type="xs:dateTime" />
      <xs:element name="formadePago" nillable="true" type="xs:string" />
      <xs:element name="idAnoVehiculo" nillable="true" type="xs:string" />
      <xs:element name="idCapacidad" nillable="true" type="xs:string" />
      <xs:element name="idColor" nillable="true" type="xs:string" />
      <xs:element name="idEstacionaEn" nillable="true" type="xs:string" />
      <xs:element name="idMarcaVehiculo" nillable="true" type="xs:string" />
      <xs:element name="idModeloVehiculo" nillable="true" type="xs:string" />
      <xs:element name="idTipoCombustible" nillable="true" type="xs:string" />
      <xs:element name="idTipoVehiculo" nillable="true" type="xs:string" />
      <xs:element name="idUso" nillable="true" type="xs:string" />
      <xs:element name="idVersion" nillable="true" type="xs:string" />
      <xs:element name="iddeducible" nillable="true" type="xs:string" />
      <xs:element name="kilomatraje" nillable="true" type="xs:int" />
      <xs:element name="marcaVehiculo" nillable="true" type="xs:string" />
      <xs:element name="modeloVehiculo" nillable="true" type="xs:string" />
      <xs:element name="montoAsegurado" nillable="true" type="xs:decimal" />
      <xs:element name="montoDescuento" nillable="true" type="xs:decimal" />
      <xs:element name="montoImpuesto" nillable="true" type="xs:decimal" />
      <xs:element name="montoRecargo" nillable="true" type="xs:decimal" />
      <xs:element name="neto" nillable="true" type="xs:decimal" />
      <xs:element name="noFormulario" nillable="true" type="xs:string" />
      <xs:element name="nombreContactoBeneficiarioEndoso" nillable="true" type="xs:string" />
      <xs:element name="numeroCupon" nillable="true" type="xs:string" />
      <xs:element name="placa" nillable="true" type="xs:string" />
      <xs:element name="porcDescuento" nillable="true" type="xs:decimal" />
      <xs:element name="porcImpuesto" nillable="true" type="xs:decimal" />
      <xs:element name="porcRecargo" nillable="true" type="xs:decimal" />
      <xs:element name="porciendoCobertura" nillable="true" type="xs:string" />
      <xs:element name="porcientoDescuentoCupon" nillable="true" type="xs:decimal" />
      <xs:element name="primaBruta" nillable="true" type="xs:decimal" />
      <xs:element name="ramo" nillable="true" type="xs:int" />
      <xs:element name="renovacionAutomatica" nillable="true" type="xs:string" />
      <xs:element name="rncBeneficiarioEndoso" nillable="true" type="xs:string" />
      <xs:element name="secuencia" nillable="true" type="xs:int" />
      <xs:element name="sexoEdad" nillable="true" type="xs:string" />
      <xs:element name="subRamo" nillable="true" type="xs:int" />
      <xs:element name="tasa" nillable="true" type="xs:decimal" />
      <xs:element name="telefonoContactoBeneficiarioEndoso" nillable="true" type="xs:string" />
      <xs:element name="tipoCombustible" nillable="true" type="xs:string" />
      <xs:element name="tipoVehiculo" nillable="true" type="xs:string" />
      <xs:element name="uso" nillable="true" type="xs:string" />
      <xs:element name="usuario" nillable="true" type="xs:string" />
      <xs:element name="valorEndoso" nillable="true" type="xs:decimal" />
      <xs:element name="version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.SysFlexCotizacionDetail.Key" nillable="true" type="tns:Policy.SysFlexCotizacionDetail.Key" />
  <xs:complexType name="Policy.QuotationIL.QuotationPaymenAgreement.parameter">
    <xs:sequence>
      <xs:element name="compania" nillable="true" type="xs:int" />
      <xs:element name="cotizacion" nillable="true" type="xs:decimal" />
      <xs:element name="cuota" nillable="true" type="xs:int" />
      <xs:element name="fechaPago" nillable="true" type="xs:string" />
      <xs:element name="porcientoInicial" nillable="true" type="xs:decimal" />
      <xs:element name="valorCuota" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationIL.QuotationPaymenAgreement.parameter" nillable="true" type="tns:Policy.QuotationIL.QuotationPaymenAgreement.parameter" />
  <xs:complexType name="Policy.QuotationIL.Client.parameter">
    <xs:sequence>
      <xs:element name="accion" nillable="true" type="xs:string" />
      <xs:element name="apellidos" nillable="true" type="xs:string" />
      <xs:element name="beeper" nillable="true" type="xs:string" />
      <xs:element name="cargoTrabajo" nillable="true" type="xs:string" />
      <xs:element name="celular" nillable="true" type="xs:string" />
      <xs:element name="claseCliente" nillable="true" type="xs:string" />
      <xs:element name="cobrador" nillable="true" type="xs:int" />
      <xs:element name="codigo" nillable="true" type="xs:decimal" />
      <xs:element name="codigoRnc" nillable="true" type="xs:int" />
      <xs:element name="comentario" nillable="true" type="xs:string" />
      <xs:element name="compania" nillable="true" type="xs:int" />
      <xs:element name="condicionPago" nillable="true" type="xs:int" />
      <xs:element name="consorcio" nillable="true" type="xs:int" />
      <xs:element name="contacto" nillable="true" type="xs:string" />
      <xs:element name="descuento" nillable="true" type="xs:decimal" />
      <xs:element name="direccion" nillable="true" type="xs:string" />
      <xs:element name="email" nillable="true" type="xs:string" />
      <xs:element name="estadoCivil" nillable="true" type="xs:string" />
      <xs:element name="estatus" nillable="true" type="xs:unsignedByte" />
      <xs:element name="facturacion" nillable="true" type="xs:int" />
      <xs:element name="fax" nillable="true" type="xs:string" />
      <xs:element name="fechaAdiciona" nillable="true" type="xs:string" />
      <xs:element name="fechaLicencia" nillable="true" type="xs:string" />
      <xs:element name="fechaNacimiento" nillable="true" type="xs:string" />
      <xs:element name="fecha_Ingreso" nillable="true" type="xs:string" />
      <xs:element name="ingresoSalarial" nillable="true" type="xs:decimal" />
      <xs:element name="itbis" nillable="true" type="xs:unsignedByte" />
      <xs:element name="limiteCredito" nillable="true" type="xs:decimal" />
      <xs:element name="lugarTrabajo" nillable="true" type="xs:string" />
      <xs:element name="nacionalidad" nillable="true" type="xs:string" />
      <xs:element name="ncf" nillable="true" type="xs:int" />
      <xs:element name="nombre" nillable="true" type="xs:string" />
      <xs:element name="nombreCliente" nillable="true" type="xs:string" />
      <xs:element name="ocupacion" nillable="true" type="xs:string" />
      <xs:element name="oficina" nillable="true" type="xs:int" />
      <xs:element name="rnc" nillable="true" type="xs:string" />
      <xs:element name="rnc1" nillable="true" type="xs:string" />
      <xs:element name="rnc2" nillable="true" type="xs:string" />
      <xs:element name="sexo" nillable="true" type="xs:unsignedByte" />
      <xs:element name="telefonoOficina" nillable="true" type="xs:string" />
      <xs:element name="telefonoResidencia" nillable="true" type="xs:string" />
      <xs:element name="tipoCliente" nillable="true" type="xs:int" />
      <xs:element name="tipoRnc" nillable="true" type="xs:unsignedByte" />
      <xs:element name="tipoRnc1" nillable="true" type="xs:unsignedByte" />
      <xs:element name="tipoRnc2" nillable="true" type="xs:unsignedByte" />
      <xs:element name="ubicacion" nillable="true" type="xs:int" />
      <xs:element name="usuario" nillable="true" type="xs:string" />
      <xs:element name="usuarioAdiciona" nillable="true" type="xs:string" />
      <xs:element name="usuarioID" nillable="true" type="xs:int" />
      <xs:element name="usuarioModifica" nillable="true" type="xs:string" />
      <xs:element name="vendedor" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationIL.Client.parameter" nillable="true" type="tns:Policy.QuotationIL.Client.parameter" />
  <xs:complexType name="Policy.QuotationIL.QuotationHeader.parameter">
    <xs:sequence>
      <xs:element name="cliente" nillable="true" type="xs:decimal" />
      <xs:element name="codMoneda" nillable="true" type="xs:int" />
      <xs:element name="compania" nillable="true" type="xs:int" />
      <xs:element name="comunicaciones" nillable="true" type="xs:string" />
      <xs:element name="cotizacion" nillable="true" type="xs:decimal" />
      <xs:element name="deudor" nillable="true" type="xs:decimal" />
      <xs:element name="estatus" nillable="true" type="xs:string" />
      <xs:element name="fechaEmision" nillable="true" type="xs:dateTime" />
      <xs:element name="hora" nillable="true" type="xs:string" />
      <xs:element name="intermediario" nillable="true" type="xs:int" />
      <xs:element name="montoNeto" nillable="true" type="xs:decimal" />
      <xs:element name="nombreCliente" nillable="true" type="xs:string" />
      <xs:element name="observacion" nillable="true" type="xs:string" />
      <xs:element name="oficina" type="xs:int" />
      <xs:element name="poliza" nillable="true" type="xs:string" />
      <xs:element name="porcComision" nillable="true" type="xs:decimal" />
      <xs:element name="prima" nillable="true" type="xs:decimal" />
      <xs:element name="ramo" nillable="true" type="xs:int" />
      <xs:element name="sumaAsegurada" nillable="true" type="xs:decimal" />
      <xs:element name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationIL.QuotationHeader.parameter" nillable="true" type="tns:Policy.QuotationIL.QuotationHeader.parameter" />
  <xs:complexType name="Policy.QuotationIL.QuotationCondition.parameter">
    <xs:sequence>
      <xs:element name="codigo" nillable="true" type="xs:int" />
      <xs:element name="compania" nillable="true" type="xs:int" />
      <xs:element name="cotizacion" nillable="true" type="xs:decimal" />
      <xs:element name="datoAlf" nillable="true" type="xs:string" />
      <xs:element name="datoNum" nillable="true" type="xs:decimal" />
      <xs:element name="decimales" nillable="true" type="xs:string" />
      <xs:element name="descripcion" nillable="true" type="xs:string" />
      <xs:element name="ramo" nillable="true" type="xs:int" />
      <xs:element name="secuencia" nillable="true" type="xs:int" />
      <xs:element name="secuenciaCondicion" nillable="true" type="xs:int" />
      <xs:element name="subRamo" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationIL.QuotationCondition.parameter" nillable="true" type="tns:Policy.QuotationIL.QuotationCondition.parameter" />
  <xs:complexType name="Policy.QuotationIL.QuotationCoverage.parameter">
    <xs:sequence>
      <xs:element name="compania" nillable="true" type="xs:int" />
      <xs:element name="cotizacion" nillable="true" type="xs:decimal" />
      <xs:element name="descripcion" nillable="true" type="xs:string" />
      <xs:element name="endoso" nillable="true" type="xs:string" />
      <xs:element name="minimoDeducible" nillable="true" type="xs:decimal" />
      <xs:element name="montoInformativo" nillable="true" type="xs:string" />
      <xs:element name="porcCobertura" nillable="true" type="xs:decimal" />
      <xs:element name="porcDeducible" nillable="true" type="xs:decimal" />
      <xs:element name="porciento" nillable="true" type="xs:decimal" />
      <xs:element name="prima" nillable="true" type="xs:decimal" />
      <xs:element name="ramo" nillable="true" type="xs:int" />
      <xs:element name="secuencia" nillable="true" type="xs:int" />
      <xs:element name="secuenciaCot" nillable="true" type="xs:int" />
      <xs:element name="subRamo" nillable="true" type="xs:int" />
      <xs:element name="tieneCobertura" nillable="true" type="xs:string" />
      <xs:element name="valorServicio" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationIL.QuotationCoverage.parameter" nillable="true" type="tns:Policy.QuotationIL.QuotationCoverage.parameter" />
  <xs:complexType name="Policy.QuotationIL.QuotationDetail.parameter">
    <xs:sequence>
      <xs:element name="cantidadMeses" nillable="true" type="xs:int" />
      <xs:element name="codigoTarifa" nillable="true" type="xs:int" />
      <xs:element name="compania" nillable="true" type="xs:int" />
      <xs:element name="cotizacion" nillable="true" type="xs:decimal" />
      <xs:element name="estatus" nillable="true" type="xs:string" />
      <xs:element name="fechaFin" nillable="true" type="xs:dateTime" />
      <xs:element name="fechaInicio" nillable="true" type="xs:dateTime" />
      <xs:element name="formadePago" nillable="true" type="xs:string" />
      <xs:element name="montoAsegurado" nillable="true" type="xs:decimal" />
      <xs:element name="montoDescuento" nillable="true" type="xs:decimal" />
      <xs:element name="montoImpuesto" nillable="true" type="xs:decimal" />
      <xs:element name="montoRecargo" nillable="true" type="xs:decimal" />
      <xs:element name="neto" nillable="true" type="xs:decimal" />
      <xs:element name="noFormulario" nillable="true" type="xs:string" />
      <xs:element name="porcDescuento" nillable="true" type="xs:decimal" />
      <xs:element name="porcImpuesto" nillable="true" type="xs:decimal" />
      <xs:element name="porcRecargo" nillable="true" type="xs:decimal" />
      <xs:element name="primaBruta" nillable="true" type="xs:decimal" />
      <xs:element name="ramo" nillable="true" type="xs:int" />
      <xs:element name="renovacionAutomatica" nillable="true" type="xs:string" />
      <xs:element name="secuencia" nillable="true" type="xs:int" />
      <xs:element name="subRamo" nillable="true" type="xs:int" />
      <xs:element name="tasa" nillable="true" type="xs:decimal" />
      <xs:element name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationIL.QuotationDetail.parameter" nillable="true" type="tns:Policy.QuotationIL.QuotationDetail.parameter" />
  <xs:complexType name="Policy.QuotationIL.Additional.Cristal">
    <xs:sequence>
      <xs:element name="Altura" nillable="true" type="xs:string" />
      <xs:element name="Anchura" nillable="true" type="xs:string" />
      <xs:element name="BaseDeducible" nillable="true" type="xs:string" />
      <xs:element name="Cantidad" type="xs:decimal" />
      <xs:element name="Colocacion" nillable="true" type="xs:string" />
      <xs:element name="Compania" type="xs:int" />
      <xs:element name="Cotizacion" type="xs:decimal" />
      <xs:element name="FechaAdiciona" type="xs:dateTime" />
      <xs:element name="IdCristal" type="xs:int" />
      <xs:element name="MinimoDeducible" nillable="true" type="xs:decimal" />
      <xs:element name="PorcDeducible" nillable="true" type="xs:decimal" />
      <xs:element name="PorcPrima" nillable="true" type="xs:decimal" />
      <xs:element name="Secuencia" type="xs:int" />
      <xs:element name="TipoCristal" nillable="true" type="xs:string" />
      <xs:element name="ValorAsegurado" type="xs:decimal" />
      <xs:element name="ValorReposicion" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationIL.Additional.Cristal" nillable="true" type="tns:Policy.QuotationIL.Additional.Cristal" />
  <xs:complexType name="Policy.QuotationIL.Additional.EquipoElectronico">
    <xs:sequence>
      <xs:element name="BaseDeducible" nillable="true" type="xs:string" />
      <xs:element name="Compania" type="xs:int" />
      <xs:element name="Cotizacion" type="xs:decimal" />
      <xs:element name="Descripcion" nillable="true" type="xs:string" />
      <xs:element name="FechaAdiciona" type="xs:dateTime" />
      <xs:element name="IdEquipo" type="xs:int" />
      <xs:element name="Marca" nillable="true" type="xs:string" />
      <xs:element name="MinimoDeducible" nillable="true" type="xs:decimal" />
      <xs:element name="Modelo" nillable="true" type="xs:string" />
      <xs:element name="PorcDeducible" type="xs:decimal" />
      <xs:element name="PorcPrima" nillable="true" type="xs:decimal" />
      <xs:element name="Secuencia" type="xs:int" />
      <xs:element name="Serie" nillable="true" type="xs:string" />
      <xs:element name="ValorAsegurado" type="xs:decimal" />
      <xs:element name="ValorReposicion" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationIL.Additional.EquipoElectronico" nillable="true" type="tns:Policy.QuotationIL.Additional.EquipoElectronico" />
  <xs:complexType name="Policy.QuotationIL.Additional.Fiador">
    <xs:sequence>
      <xs:element name="Accion" nillable="true" type="xs:string" />
      <xs:element name="Apellido" nillable="true" type="xs:string" />
      <xs:element name="CedulaRepresentante" nillable="true" type="xs:string" />
      <xs:element name="Compania" type="xs:int" />
      <xs:element name="Cotizacion" type="xs:decimal" />
      <xs:element name="Direccion" nillable="true" type="xs:string" />
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="FechaAdiciona" type="xs:dateTime" />
      <xs:element name="IdFiador" type="xs:int" />
      <xs:element name="IdMunicipio" type="xs:int" />
      <xs:element name="IdPais" type="xs:int" />
      <xs:element name="IdProvincia" type="xs:int" />
      <xs:element name="IdSector" type="xs:int" />
      <xs:element name="Nacionalidad" nillable="true" type="xs:string" />
      <xs:element name="Nombre" nillable="true" type="xs:string" />
      <xs:element name="NumeroId" nillable="true" type="xs:string" />
      <xs:element name="Representante" nillable="true" type="xs:string" />
      <xs:element name="RepresentanteTipoRnc" nillable="true" type="xs:int" />
      <xs:element name="Secuencia" type="xs:int" />
      <xs:element name="Telefonos" nillable="true" type="xs:string" />
      <xs:element name="TipoId" type="xs:int" />
      <xs:element name="UsuarioAdiciona" nillable="true" type="xs:string" />
      <xs:element name="UsuarioId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationIL.Additional.Fiador" nillable="true" type="tns:Policy.QuotationIL.Additional.Fiador" />
  <xs:complexType name="Policy.QuotationIL.Additional.Maquinaria">
    <xs:sequence>
      <xs:element name="Ano" type="xs:int" />
      <xs:element name="BaseDeducible" nillable="true" type="xs:string" />
      <xs:element name="Compania" type="xs:int" />
      <xs:element name="Cotizacion" type="xs:decimal" />
      <xs:element name="Descripcion" nillable="true" type="xs:string" />
      <xs:element name="FechaAdiciona" type="xs:dateTime" />
      <xs:element name="IdMaquinaria" type="xs:int" />
      <xs:element name="Marca" nillable="true" type="xs:string" />
      <xs:element name="MinimoDeducible" type="xs:decimal" />
      <xs:element name="Modelo" nillable="true" type="xs:string" />
      <xs:element name="PorcDeducible" type="xs:decimal" />
      <xs:element name="PorcPrima" nillable="true" type="xs:decimal" />
      <xs:element name="Secuencia" type="xs:int" />
      <xs:element name="Serie" nillable="true" type="xs:string" />
      <xs:element name="ValorAsegurado" type="xs:decimal" />
      <xs:element name="ValorReposicion" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationIL.Additional.Maquinaria" nillable="true" type="tns:Policy.QuotationIL.Additional.Maquinaria" />
  <xs:complexType name="Policy.QuotationIL.Additional.ObjetoValioso">
    <xs:sequence>
      <xs:element name="Accion" nillable="true" type="xs:string" />
      <xs:element name="Autor" nillable="true" type="xs:string" />
      <xs:element name="BaseDeducible" nillable="true" type="xs:string" />
      <xs:element name="Certificado" nillable="true" type="xs:string" />
      <xs:element name="Compania" type="xs:int" />
      <xs:element name="Cotizacion" type="xs:decimal" />
      <xs:element name="Descripcion" nillable="true" type="xs:string" />
      <xs:element name="FechaAdiciona" type="xs:dateTime" />
      <xs:element name="IdObjeto" type="xs:int" />
      <xs:element name="Marca" nillable="true" type="xs:string" />
      <xs:element name="MinimoDeducible" type="xs:decimal" />
      <xs:element name="Modelo" nillable="true" type="xs:string" />
      <xs:element name="PorcDeducible" type="xs:decimal" />
      <xs:element name="PorcPrima" type="xs:decimal" />
      <xs:element name="Secuencia" type="xs:int" />
      <xs:element name="Serie" nillable="true" type="xs:string" />
      <xs:element name="UsuarioAdiciona" nillable="true" type="xs:string" />
      <xs:element name="UsuarioId" nillable="true" type="xs:int" />
      <xs:element name="ValorAsegurado" type="xs:decimal" />
      <xs:element name="ValorReposicion" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationIL.Additional.ObjetoValioso" nillable="true" type="tns:Policy.QuotationIL.Additional.ObjetoValioso" />
  <xs:complexType name="Policy.QuotationIL.Additional.TransporteAereoMaritimo">
    <xs:sequence>
      <xs:element name="Accion" nillable="true" type="xs:string" />
      <xs:element name="Compania" type="xs:int" />
      <xs:element name="Cotizacion" type="xs:decimal" />
      <xs:element name="FechaAdiciona" type="xs:dateTime" />
      <xs:element name="IdTransporte" type="xs:int" />
      <xs:element name="Nombre" nillable="true" type="xs:string" />
      <xs:element name="Secuencia" type="xs:int" />
      <xs:element name="Serie" nillable="true" type="xs:string" />
      <xs:element name="UsuarioAdiciona" nillable="true" type="xs:string" />
      <xs:element name="UsuarioId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationIL.Additional.TransporteAereoMaritimo" nillable="true" type="tns:Policy.QuotationIL.Additional.TransporteAereoMaritimo" />
  <xs:complexType name="Policy.QuotationIL.Additional.TransporteTerrestre">
    <xs:sequence>
      <xs:element name="Accion" nillable="true" type="xs:string" />
      <xs:element name="Ano" type="xs:int" />
      <xs:element name="Chasis" nillable="true" type="xs:string" />
      <xs:element name="Compania" type="xs:int" />
      <xs:element name="Cotizacion" type="xs:decimal" />
      <xs:element name="FechaAdiciona" type="xs:dateTime" />
      <xs:element name="IdTransporte" type="xs:int" />
      <xs:element name="Marca" nillable="true" type="xs:string" />
      <xs:element name="Modelo" nillable="true" type="xs:string" />
      <xs:element name="Placa" nillable="true" type="xs:string" />
      <xs:element name="Secuencia" type="xs:int" />
      <xs:element name="UsuarioAdiciona" nillable="true" type="xs:string" />
      <xs:element name="UsuarioId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationIL.Additional.TransporteTerrestre" nillable="true" type="tns:Policy.QuotationIL.Additional.TransporteTerrestre" />
  <xs:complexType name="Policy.QuotationIL.Additional.Piloto">
    <xs:sequence>
      <xs:element name="Accion" nillable="true" type="xs:string" />
      <xs:element name="Compania" type="xs:int" />
      <xs:element name="Cotizacion" type="xs:decimal" />
      <xs:element name="FechaAdiciona" type="xs:dateTime" />
      <xs:element name="HorasVuelo" type="xs:int" />
      <xs:element name="IdPiloto" type="xs:int" />
      <xs:element name="Nombre" nillable="true" type="xs:string" />
      <xs:element name="Secuencia" type="xs:int" />
      <xs:element name="UsuarioAdiciona" nillable="true" type="xs:string" />
      <xs:element name="UsuarioId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.QuotationIL.Additional.Piloto" nillable="true" type="tns:Policy.QuotationIL.Additional.Piloto" />
  <xs:complexType name="Policy.FacultativePlacementParameter">
    <xs:sequence>
      <xs:element name="Compania" type="xs:int" />
      <xs:element name="ContratoCobertura" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Cotizacion" type="xs:decimal" />
      <xs:element name="Secuencia" type="xs:int" />
      <xs:element name="SecuenciaMov" type="xs:int" />
      <xs:element name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.FacultativePlacementParameter" nillable="true" type="tns:Policy.FacultativePlacementParameter" />
  <xs:complexType name="Policy.SysFlexPolizaDescuentoParameter">
    <xs:sequence>
      <xs:element name="Compania" type="xs:int" />
      <xs:element name="ConceptoId" type="xs:int" />
      <xs:element name="Poliza" nillable="true" type="xs:string" />
      <xs:element name="PorcDescuento" type="xs:decimal" />
      <xs:element name="Sistema" nillable="true" type="xs:string" />
      <xs:element name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy.SysFlexPolizaDescuentoParameter" nillable="true" type="tns:Policy.SysFlexPolizaDescuentoParameter" />
</xs:schema>