SqlScript/branch.underwriting/WEB.NewBusiness/Service References/oSysFlexService/SysFlexPolicyService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Global.Common.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Global.Common.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultCode" nillable="true" type="tns:ResultCode" />
</xs:schema>