prog/NewPunto de venta/trunk/STL.POS.THProxy/Connected Services/NewTHService/ThunderheadWSWrapper1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://atl-dev02.dev.atlantica.local/ThunderheadWSWrapper/ThunderheadWSWrapper.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ThunderheadWSWrapper" />
  <xs:element name="executePreview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ThunderheadWSWrapper" minOccurs="0" name="parameters" nillable="true" type="q1:THParams" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="executePreviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ThunderheadWSWrapper" minOccurs="0" name="executePreviewResult" nillable="true" type="q2:ArrayOfChannelDocumentWrapper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="submitBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ThunderheadWSWrapper" minOccurs="0" name="parameters" nillable="true" type="q3:THParams" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="submitBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="submitBatchResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>