prog/Pos_Site_Diveria/trunk/STL.POS.VirtualOfficeProxy/Service References/ContactsProxy/ContactService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Global.Common.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Global.Common.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devservicecontact.statetrustlife.com/ContactService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://devservicecontact.statetrustlife.com/ContactService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Entity.UnderWriting.Entities" />
  <xs:complexType name="ContactResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultCode">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AddressDirectoryDetailId" nillable="true" type="q1:ArrayOfint" />
          <xs:element minOccurs="0" name="customerNumber" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="emailDirectoryDetailId" nillable="true" type="q2:ArrayOfint" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idDocumentSeqNo" nillable="true" type="q3:ArrayOfint" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="phoneDirectoryDetailId" nillable="true" type="q4:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactResult" nillable="true" type="tns:ContactResult" />
  <xs:complexType name="ResultCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultCode" nillable="true" type="tns:ResultCode" />
  <xs:complexType name="PhoneResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="DirectoryDetailId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PhoneResult" nillable="true" type="tns:PhoneResult" />
  <xs:complexType name="EmailResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="DirectoryDetailId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailResult" nillable="true" type="tns:EmailResult" />
  <xs:complexType name="AddressResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="DirectoryDetailId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressResult" nillable="true" type="tns:AddressResult" />
  <xs:complexType name="IdentificationResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="SeqNo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdentificationResult" nillable="true" type="tns:IdentificationResult" />
  <xs:complexType name="SetContactQuestionaireHealthResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultCode">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entity.UnderWriting.Entities" minOccurs="0" name="QuestionnaireHealth" nillable="true" type="q5:ArrayOfContact.QuestionnaireHealth" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetContactQuestionaireHealthResult" nillable="true" type="tns:SetContactQuestionaireHealthResult" />
  <xs:complexType name="getResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="JSONResult" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="getResult" nillable="true" type="tns:getResult" />
  <xs:complexType name="DeleteCommunicationResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteCommunicationResult" nillable="true" type="tns:DeleteCommunicationResult" />
  <xs:complexType name="DeleteIdDocumentResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteIdDocumentResult" nillable="true" type="tns:DeleteIdDocumentResult" />
  <xs:complexType name="getResultBinaryIdDocument">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="BinaryDocument" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="getResultBinaryIdDocument" nillable="true" type="tns:getResultBinaryIdDocument" />
  <xs:complexType name="MatchResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountPossibleMatch" type="xs:int" />
          <xs:element minOccurs="0" name="JsonResultPossibleMatch" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MatchResult" nillable="true" type="tns:MatchResult" />
</xs:schema>